@media (max-width:520px) {

  :host ::ng-deep .table-basic #tableHolidays .p-datatable-tfoot>tr>td {
    display: block !important;
  }
}

:host ::ng-deep .p-datatable-table .p-datatable-thead>tr>th:last-of-type {
  width: 16%;
}
#tableHolidaysHidden,
.title-table {
  letter-spacing: normal !important;

}
.logoTable {
  img {
    width: 180px;
    height: 50px;
    object-fit: scale-down
  }
}
.hideTable {
  overflow: hidden;
  height: 0;
  #tableHolidaysHidden {
    position: relative;
    left: -100%;
  }
}
:host ::ng-deep  #tableHolidaysHidden .p-datatable .p-datatable-header {
  background-color: white !important;
}