@media (max-width:520px) {

  :host ::ng-deep .table-basic #tableEmployment .p-datatable-tfoot>tr>td {
    display: block !important;
  }
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th:last-of-type {
  width: 13% !important;
}
#tableEmployment,
.title-table {
  letter-spacing: normal !important;

}