<div class="container-Dialog">
    <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
      <h3 class="title-Dialog m-0">
        {{data!['title']|translate}}
  
      </h3>
      <button class="icon-close iconCloseDialog" type="button" (click)="close()">
        <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
        <i class="pi pi-times-circle"></i>
      </button>
    </header>
    <div class="body-dialog p-15 f-s-16">
      <form [formGroup]="addBranchGroupForm">
        <div class="section1 mb-3">
          <label class="title">{{data!['setAsActive']|translate}}</label>
          <p-inputSwitch formControlName="isActive"></p-inputSwitch>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="sectionFive mb-3">
                <label class="title">نوع الجزاء</label>
  
                <div class="container-radio-button">
                  <mat-radio-group aria-label="Select an option" color="primary" formControlName="type">
                    <mat-radio-button value="0">تنبيه
                    </mat-radio-button>
                    <mat-radio-button value="1">الغاء بصمة اليوم</mat-radio-button>
  
                  </mat-radio-group>
                </div>
  
              </div>
              <ng-container *ngIf="editSanction">
                <div class="field-disabled mb-3 readOnly">
                  <label for="" class="label-input mb-2" [innerHTML]="data!['titleFieldDisabled']|translate"></label>
                  <div class="content-password">
                    <input type="text" pInputText formControlName="fieldDisabled" [readOnly]="true"
                      [placeholder]="data!['placeholdeieldDisabled']|translate" class="w-100" />
                  </div>
                </div>
              </ng-container>
              <div class="sectionFive mb-3">
                <label for="" class="label-input mb-2">الأسم <span class="color-red">*</span></label>
                <div class="content-password">
                  <input type="text" pInputText formControlName="name" placeholder="الأسم"
                    class="w-100" />
                </div>
                <!--Start Custom Validators-->
                <div class="container-alerts mt-2" *ngIf="getControl('name')?.errors">
                  <div class="alert alert-danger"
                    *ngIf="getControl('name')?.hasError('required') && getControl('name')?.dirty">
                    الأسم مطلوب
                  </div>
                </div>
                <!--End Custom Validators-->
              </div>
              <div class="sectionFive mb-3">
                <label for="" class="label-input mb-2">الرسالة التحذيرية</label>
                <div class="content-password">
                  <input type="text" pInputText formControlName="warningMessage" placeholder="الرسالة التحذيرية"
                    class="w-100" />
                </div>
              
              </div>
  
            </div>
  
          </div>
        </div>
  
      </form>
    </div>
    <footer class="footer-dialog p-15 d-flex justify-content-end">
      <button class="background-blue w-100 color-white b-r-4 button-action ml-2 mr-2 f-s-16"
        (click)="request()">{{submitted
        ?
        (data!['buttonSend']|translate) : ('dialogs.loading'|translate)}}</button>
      <button class="btn-outline-primary w-100 ml-2  b-r-4 button-action-two ml-2 mr-2 f-s-16"
        (click)="close()">{{data!['titleClose']|translate}}</button>
    </footer>
  </div>
  <div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>