<div class="container-Dialog">
    <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
      <h3 class="title-Dialog m-0">
        {{data!['title']|translate}}
      </h3>
      <button class="icon-close iconCloseDialog" type="button" (click)="close()">
        <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
        <i class="pi pi-times-circle"></i>
      </button>
    </header>
    <div class="body-dialog p-15 f-s-16">
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">تعيين كنشط</label>
        <div class="content-password">
          {{info?.isActive ? 'نشط' : 'غير نشط'}}
        </div>
  
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">حالة الإستدعاء</label>
        <div class="content-password">
          {{info?.summonStatusName ? info?.summonStatusName : "لا يوجد"}}
        </div>
  
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title"> نوع الاستدعاء</label>
        <div class="content-password">
          {{info?.forTypeName ? info?.forTypeName : "لا يوجد"}}
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">لكل الموظفين</label>
        <div class="content-password">
          {{info?.forAllEmployees ? 'نعم' : "لا"}}
        </div>
      </div>
      <ng-container *ngIf="!info?.forAllEmployees">
        
        <div class="sectionTwo mb-3 line-bellow">
            <label class="title"> {{info?.forTypeName}}</label>
            <ng-container *ngIf="info?.departments != null">
                <div class="content-password" *ngFor="let item of info?.departments">
                    {{item}}
                  </div>
            </ng-container>
            <ng-container *ngIf="info?.groups != null">
                <div class="content-password" *ngFor="let item of info?.groups">
                    {{item}}
                  </div>
            </ng-container>
            <ng-container *ngIf="info?.employees != null">
                <div class="content-password" *ngFor="let item of info?.employees">
                    {{item}}
                  </div>
            </ng-container>
      
          </div>
      </ng-container>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title"> تاريخ ووقت الاستدعاء</label>
        <div class="content-password">
          {{info?.LocalDateAndTime ? info?.LocalDateAndTime : "لا يوجد"}}
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">عدد الموظفين المستهدفين</label>
        <div class="content-password">
          {{info?.numberOfTargetedEmployees ? info?.numberOfTargetedEmployees :"0"}}
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">الوقت المسموح</label>
        <div class="content-password">
          {{info?.allowedTimeName ? info?.allowedTimeName : "لا يوجد"}}
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title"> الجزاءات </label>
        <div class="content-password" *ngFor="let item of info?.sanctions">
            {{item}}
        </div>
        <div class="content-password" *ngIf="info?.sanctions.length === 0">
            لايوجد
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">طرق التنبية</label>
        <div class="content-password" *ngFor="let item of info?.notifyWays">
            {{item}}
        </div>
        <div class="content-password" *ngIf="info?.notifyWays.length === 0">
            لايوجد
        </div>
      </div>
    </div>
  </div>
  <div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>