<div class="container-Dialog">
  <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
    <h3 class="title-Dialog m-0">
      {{data!['title']|translate}}

    </h3>
    <button class="icon-close iconCloseDialog" type="button" (click)="close()">
      <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
      <i class="pi pi-times-circle"></i>
    </button>
  </header>
  <div class="body-dialog p-15 f-s-16">
    <form [formGroup]="addBranchGroupForm">
      <div class="section1 mb-3">
        <label class="title">{{data!['setAsNecessary']|translate}}</label>
        <p-inputSwitch formControlName="isActive"></p-inputSwitch>
      </div>
      
      <ng-container *ngIf="editEmployee">
        <div class="field-disabled mb-3 readOnly">
          <label for="" class="label-input mb-2" >كود المنطقه</label>
          <div class="content-password">
            <input type="text" pInputText formControlName="fieldDisabled" [readOnly]="true"
              placeholder="كود المنطقه" class="w-100" />
          </div>
        </div>
      </ng-container>
      <div class="sectionTwo mb-3">
        <label class="title">فروع الشركة</label>
        <div class="content-password">
          <p-dropdown appendTo="body" formControlName="companyBranches" [options]="companyBranchesList"
            placeholder="فروع الشركة" optionLabel="name">

            <ng-template pTemplate="header">
              <span class="p-input-icon-left input-search-dropdown">

                <i class="pi pi-search" (click)="searchDropdown(searchCompanyBranches.value, 'companyBranches')"></i>
                <input type="text" placeholder="بحث" pInputText (keyup)="searchList($event.target, 'companyBranches')" #searchCompanyBranches />
              </span>
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{ option.name }}
            </ng-template>
          </p-dropdown>
        </div>

      </div>
      <div class="sectionField mb-3">
        <label for="" class="label-input mb-2" [innerHTML]="data!['fieldFirst']|translate"></label>
        <div class="content-password">
          <input type="text" pInputText formControlName="name" [placeholder]="data!['placeholdefieldFirst']|translate"
            class="w-100" />
        </div>
        <div class="container-alerts mt-2" *ngIf="getControl('name')?.errors">
          <div class="alert alert-danger" *ngIf="getControl('name')?.hasError('required') && getControl('name')?.dirty">
            {{data!['validationtitlefieldFirst']|translate}}
          </div>
        </div>
      </div>
      <div class="mb-3 content-map">
        <div class="search-map mb-3">
          <label for="" class="label-input mb-2">{{"zones.searchOnMap"|translate}} </label>
          <div class="content-password">
            <input type="text" pInputText #searchMapRef formControlName="searchOnMap" [placeholder]="'zones.searchOnMap'|translate" class="w-100" />
          </div>
        </div>
        <div class="body-map">
          <agm-map [latitude]="latitude" [scrollwheel]="false" [longitude]="longitude" [zoom]="zoomLevel"
            [disableDefaultUI]="false" [zoomControl]="true" (mapClick)="onMapClickEvent($event)">
            <agm-marker *ngFor="let mapMarker of markers; let i = index"
              (markerClick)="onMarkerClickEvent(mapMarker.label, i)" [latitude]="mapMarker.latitude"
              [longitude]="mapMarker.longitude" [label]="mapMarker.label ? mapMarker.label : ''"
              [markerDraggable]="mapMarker.draggable" (dragEnd)="markerDragEnd(mapMarker, $event)">
            </agm-marker>
            <agm-circle [latitude]="latitude" [longitude]="longitude" [radius]="radius" [fillColor]="'red'"
              [circleDraggable]="false" [editable]="false">
            </agm-circle>
          </agm-map>
          <div class="container-alerts mt-2" *ngIf="getControl('latitude')?.errors">
            <div class="alert alert-danger"
              *ngIf="getControl('latitude')?.hasError('required') && getControl('latitude')?.dirty">
              latitude is required
            </div>
          </div>
          <div class="container-alerts mt-2" *ngIf="getControl('longitude')?.errors">
            <div class="alert alert-danger"
              *ngIf="getControl('longitude')?.hasError('required') && getControl('longitude')?.dirty">
              longitude is required
            </div>
          </div>
        </div>

      </div>

      <div class="sectionField mb-3">
        <label for="" class="label-input mb-2" [innerHTML]="data!['radiusNumber']|translate"></label>
        <div class="content-password">
          <input type="number" pInputText formControlName="radius" [placeholder]="data!['placeholdeRadius']|translate"
            class="w-100" />
        </div>
        <div class="container-alerts mt-2" *ngIf="getControl('radius')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('radius')?.hasError('required') && getControl('radius')?.dirty">
            {{data!['validationtitleRadius']|translate}}
          </div>
          <div class="alert alert-danger"
          *ngIf="getControl('radius')?.hasError('min') && getControl('radius')?.dirty">
          {{"employees.lowestNumber"|translate}}
        </div>
        </div>
      </div>

    </form>
  </div>
  <footer class="footer-dialog p-15 d-flex justify-content-end">

    <button class="background-blue w-100 color-white b-r-4 button-action ml-2 mr-2 f-s-16"
      (click)="request()">{{submitted ?
      (data!['buttonSend']|translate) : ('dialogs.loading'|translate)}}</button>
    <button class="btn-outline-primary w-100 ml-2  b-r-4 button-action-two ml-2 mr-2 f-s-16"
      (click)="close()">{{data!['titleClose']|translate}}</button>
  </footer>
</div>
<div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>