@media (max-width:520px) {

  :host ::ng-deep .table-basic #tableshift .p-datatable-tfoot>tr>td {
    display: block !important;
  }
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th:last-of-type {
  width: 15%;
}
#tabletablesHidden,
.title-table {
  letter-spacing: normal !important;

}
.logoTable {
  img {
    width: 180px;
    height: 50px;
    object-fit: scale-down
  }
}
.hideTable {
  overflow: hidden;
  width: 1316px;

  height: 0;
  #tabletablesHidden {
    position: relative;
    width: 1316px;

    left: -100%;
  }
}
:host ::ng-deep  #tabletablesHidden .p-datatable .p-datatable-header {
  background-color: white !important;
}