<div class="container-Dialog">
  <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
    <h3 class="title-Dialog m-0">
      {{data!['title']|translate}}
    </h3>
    <button class="icon-close iconCloseDialog" type="button" (click)="close()">
      <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
      <i class="pi pi-times-circle"></i>
    </button>
  </header>
  <div class="body-dialog p-15 f-s-16">
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">تعيين كنشط</label>
      <div class="content-password">
        {{info?.isActive ? 'نشط' : 'غير نشط'}}
      </div>

    </div>
    <!-- <div class="sectionTwo mb-3 line-bellow">
      <label class="title"> اسم نوع الجدولة</label>
      <div class="content-password">
        {{info?.schedulePlanTypeName ? info?.schedulePlanTypeName : "لا يوجد"}}
      </div>

    </div> -->


    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">
        <ng-container *ngIf="info?.employeeName">
          اسم الموظف
        </ng-container>
        <ng-container *ngIf="info?.groupName">
          اسم الجروب
        </ng-container>
        <ng-container *ngIf="info?.departmentName">
          اسم المجموعة
        </ng-container>
      </label>
      <div class="content-password" *ngIf="info?.departmentName">
        {{info?.departmentName}}
      </div>
      <div class="content-password" *ngIf="info?.employeeName">
        {{info?.employeeName}}
      </div>
      <div class="content-password" *ngIf="info?.groupName">
        {{info?.groupName}}
      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title"> رصيد المتبقي </label>
      <div class="content-password">
        {{info?.remainingBalance ? info?.remainingBalance : "لا يوجد"}}
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title"> نوع الاجازة </label>
      <div class="content-password">
        {{info?.vacationTypeName ? info?.vacationTypeName : "لا يوجد"}}
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title"> رصيد الاجازات </label>
      <div class="content-password">
        {{info?.balance ? info?.balance : "لا يوجد"}}
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title"> التاريخ </label>
      <div class="content-password">
        {{info?.year ? info?.year : "لا يوجد"}}
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title"> الملاحظات</label>
      <div class="content-password">
        {{info?.notes ? info?.notes : "لا يوجد"}}
      </div>

    </div>

  </div>

</div>

<div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
