<div class="container-Dialog">
  <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
    <h3 class="title-Dialog m-0">
      {{data!['title']|translate}}
    </h3>
    <button class="icon-close iconCloseDialog" type="button" (click)="close()">
      <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
      <i class="pi pi-times-circle"></i>
    </button>
  </header>
  <div class="body-dialog p-15 f-s-16">
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">
        {{"vacations.employeeNumber"|translate}}
      </label>
      <div class="content-password">
        <ng-container *ngIf="info?.employee?.employeeNumber">
          {{info?.employee?.employeeNumber}}
        </ng-container>
        <ng-container *ngIf="!info?.employee?.employeeNumber">
          {{"department.nothing"|translate}}
        </ng-container>
        
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"vacations.employeeName"|translate}}</label>
      <div class="content-password">
        <ng-container *ngIf="info?.employee?.name">
          {{info?.employee?.name}}
        </ng-container>
        <ng-container *ngIf="!info?.employee?.name">
          {{"department.nothing"|translate}}
        </ng-container>

      </div>

    </div>

    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"permissions.typeOfPermission"|translate}}</label>
      <div class="content-password">
        <ng-container *ngIf="info?.permissionTypeName">
          {{info?.permissionTypeName}}
        </ng-container>
        <ng-container *ngIf="!info?.permissionTypeName">
          {{"department.nothing"|translate}}
        </ng-container>
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"vacations.files"|translate}}</label>
      <ul class="list-unstyled p-0" *ngIf="AttachmentsFiles.length > 0">
        <li class="p-fileupload-row" *ngFor="let file of AttachmentsFiles; let i = index">
          <div class="content-image">
            <img [src]="file.imageSrc" width="200" height="200" alt="">

          </div>
          <div class="p-fileupload-filename" [title]="file.fileUpload.name">
            <span class="d-block">{{"employees.name"|translate}}:</span>
            {{
            file.fileUpload.name.length > 69 ? (file.fileUpload.name | slice:0:70) + '......' : file.fileUpload.name
            }}
          </div>
          <div>
            <span class="d-block">{{"employees.size"|translate}}:</span>
            {{
            file.fileUpload.size }}
          </div>
          <div>
            <a class="btn btn-success" [href]="file.download">Download</a>
          </div>

        </li>
      </ul>
      <div *ngIf="AttachmentsFiles.length === 0">
        {{"department.nothing"|translate}}
      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"vacations.theBeginning"|translate}}</label>
      <div class="content-password">
        <ng-container *ngIf="info?.dateFrom">
          {{info?.dateFrom}}
        </ng-container>
        <ng-container *ngIf="!info?.dateFrom">
          {{"department.nothing"|translate}}
        </ng-container>

      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"vacations.theEnd"|translate}}</label>
      <div class="content-password">
        <ng-container *ngIf="info?.dateTo">
          {{info?.dateTo}}
        </ng-container>
        <ng-container *ngIf="!info?.dateTo">
          {{"department.nothing"|translate}}
        </ng-container>
      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"requests.requestStatus"|translate}}</label>
      <div class="content-password">
        <ng-container *ngIf="info?.statusName">
          {{info?.statusName}}
        </ng-container>
        <ng-container *ngIf="!info?.statusName">
          {{"department.nothing"|translate}}
        </ng-container>
      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">لمده الأستئذان</label>
      <div class="content-password">
        <ng-container *ngIf="info?.period">
          {{info?.period}}
        </ng-container>
        <ng-container *ngIf="!info?.period">
          {{"department.nothing"|translate}}
        </ng-container>
      </div>
    </div>

    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"justifications.notes"|translate}}</label>
      <div class="content-password">
        <ng-container *ngIf="info?.notes">
          {{info?.notes}}
        </ng-container>
        <ng-container *ngIf="!info?.notes">
          {{"department.nothing"|translate}}
        </ng-container>

      </div>
    </div>

  </div>

  <div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>