.background-dawem {
    background-color: var(--color-blue);
  }
  
  .body-login {
    height: 100vh;
  }
  
  .body-login {
    .row {
      min-height: 100%
    }
  }
  .TermsAndConditions {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
  .container-login {
    flex-direction: column;
    background-color: var(--themeLight);
  
    .form {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  :host .container-radio-button {
    .mat-mdc-radio-group {
      margin: 0 -25px
    }
  }
  
  .loading {
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #00000091;
    height: 100vh !important;
    z-index: 999;
  }
  
  .footer-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    color: gray;
  
    span {
      cursor: pointer;
    }
  }
  
  .container-alerts {
    top: 0;
    position: absolute;
    left: 0;
    font-size: 13px;
    margin: 0;
    margin-top: -10px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  
    .alert {
      padding: 2px 5px;
      margin: 0;
      border: 0 !important;
      border-radius: 5px;
    }
  
    .alert::before {
      content: "";
      border-width: 10px 10px 10px 10px;
      border-color: #f8d7da transparent transparent transparent;
      border-style: solid;
      position: absolute;
      bottom: -18px;
      right: 6px;
    }
  }
  
  .content-login {
    max-width: 442px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 80%;
  }
  
  .button-submit {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  
  .header {
    margin-bottom: 15px;
    margin-top: 10px;
  
    .title {
      font-size: 23px;
      line-height: 38px;
      font-weight: 900;
      margin-bottom: 5px;
    }
  
    .sub-text {
      font-size: 12px;
      color: var(--grey-500);
      font-weight: 600;
    }
  }
  
  .field-password {
    >span {
      position: absolute;
      top: 0;
      left: 0px;
      color: var(--color-blue);
      cursor: pointer;
      width: 42px;
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
    }
  
    >input {
      padding-left: 40px;
    }
  
    >input::placeholder {
      font-size: 15px;
      color: #a0a7ab;
    }
  }
  
  .footer-login {
    width: 100%;
    height: 45px;
  
    .row {
      >div {
        font-size: 12px !important;
        padding: 0 30px;
        color: #6c757d;
      }
    }
  }
  
  :host ::ng-deep .p-dropdown-filter {
    margin: 0 !important;
  }
  
  .change-language {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  
  .footer-info {
    justify-content: flex-end;
  
    i {
      font-size: 23px;
    }
  }
  
  .background-dawem {
    background-image: url("../../../../assets/img/right-section.png");
    background-size: cover;
  }
  .icon-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding-bottom: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .icon-upload i {
    font-size: 30px;
    color: white;
  }
  .chips-industries {
    margin: 16px 0 0 0;
    display: flex;
    flex-wrap: wrap;
  }
  .button-add-industries {
    height: 50px;
  }
  .chips {
    padding: 3px 7px;
    border: 1px solid gray;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    margin-left: 7px;
    margin-bottom: 7px;
    i {
      cursor: pointer;
    }
  }
  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 40vh;
  }
  :host ::ng-deep agm-map {
    height: 300px;
  }
  .state-company {
    height: 51px;
    display: flex;
    align-items: center;
    border: 1px solid #d7d6d6;
    border-radius: 6px;
    padding: 0 14px;

    span{
      position: relative;
      &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: -15px;
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
    }
    span.active {
      color: green;
      &::before {
        background-color: green;

      }
    }
    span.inActive {
      color: red;
      &::before {
        background-color: red;

      }
    }
  }
  .card-image {
    width: 124px !important;
    padding: 0 !important;
    position: relative;
    height: 120px;
  }
  .content-up {
    h5 {
      font-size: 14px;
      color: var(--grey-500);
      font-weight: 600;
    }
  }
  .textarea-w-100 {
    textarea {
      width: 100%;
    }
  }
  .uploadprofile {
    width: 75%;
    height: 16vh;
    opacity: 0;
    user-select: none;
  }
  .rounded-circle {
    width: 15%;
    display: flex;
    margin-top: -16vh;
  }
  .content-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .popupCrope {
    top: 7vh;
    margin: auto;
    max-width: 62%;
  }
  .cropImage {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 50%;
    max-height: 100%;
    overflow: hidden;
    padding: 5px;
    text-align: center;
  
    margin: auto;
  }
  .card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #0e0e0e;
  padding: 15px;
}
.saveCrop {
  width: 26%;
}
.preview {
  text-align: center;
  /* display: flex; */
  justify-content: center;
  top: 29%;
  right: 6%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.name {
  margin: 4%;
}

.card-image input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.card-image img {
  margin: 0 !important;
  height: 100%;
  border: 1px solid #e1e1e1;
}
.card-image img {
  width: 100%;
}
.alert-action {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  top: 0px;
  background-color: #00000099;
  /* margin: 0px; */

  z-index: 1000;
  left: 0px;
}

  #uploadprofile::-webkit-file-upload-button {
    visibility: hidden;
    user-select: none;
  }
  
.uploadprofile {
  width: 100%;
  height: 16vh;
  opacity: 0;
  user-select: none;
}
  #uploadprofile::-webkit-file-upload-button {
    visibility: hidden;
    user-select: none;
  }
  
  
  /*-------------- Start Responsive ---------------*/
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width:1200px) {}
  
  /* Medium devices (desktops, 992px and up) */
  @media (min-width:992px) {}
  
  @media (max-width:991px) {
 
  }
  
  /* Small devices (tablets, 768px and up) */
  @media (min-width:768px) {
    .header {
      .title {
        font-size: 20px;
      }
    }
  }
  
  @media (max-width:576px) {
    .body-login {
      min-height: 99% !important;
    }
  
    .content-login {
      height: 95%;
    }
  
    .header {
      .title {
        font-size: 18px;
      }
    }
  
    .footer-login {
      .row {
        >div {
          padding: 0 15px !important;
        }
      }
  
    }
  
  }
  
  @media (max-width:420px) {
    .footer-login {
      >.row {
        flex-direction: column;
        align-items: flex-start !important;
  
        >div {
          width: 100% !important;
          text-align: right !important;
        }
  
        >div:first-of-type {
          margin-bottom: 10px;
        }
      }
    }
  }
  
  /*------------- End Responsive ------------------*/
  :host ::ng-deep .p-dropdown {
    width: 100%;
  }

  
.p-fileupload-row {
  display: flex;
  align-items: center;
}

:host ::ng-deep .p-fileupload-files {
  display: none !important;
}

:host ::ng-deep .p-fileupload-row {
  justify-content: space-between;
}

:host ::ng-deep .p-fileupload-buttonbar,
:host ::ng-deep .p-fileupload-content {
  border: 0;
  padding: 0;
  background-color: white;
}


:host ::ng-deep .p-fileupload-row>div {
  text-align: center;
}

:host ::ng-deep .p-fileupload-row .p-button {
  background: #3085FE !important;
  border: 1px solid #3085FE !important;
}

.maximum-size {
  font-size: 14px;
  color: rgba(108, 117, 125, 1);
  margin-top: 7px !important;
  display: block;
}

:host ::ng-deep .p-fileupload-content .p-progressbar {
  display: none !important;
}

:host ::ng-deep .p-fileupload-row {
  margin-bottom: 10px;
  margin-top: 10px;

}

:host ::ng-deep .p-button .p-button-label {
  flex: initial;
  font-weight: 600;
}

:host ::ng-deep .p-button .p-button-icon-left {
  color: rgba(48, 133, 254, 1);
}

:host ::ng-deep .p-fileupload-choose,
:host ::ng-deep .p-fileupload-choose:hover {
  background: white !important;
  height: initial;
  font-size: 16px;
  box-shadow: none !important;
  width: 100%;
  color: #7D8B9E;
  text-align: center;
  border: 1px solid #CBD5E1;
  margin: 0 !important;
  padding: 25px 15px !important;
  height: initial;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: flex !important;
  justify-content: center;
}

:host ::ng-deep .p-fileupload-row .p-fileupload-filename {
  width: 36% !important;
  padding: 0 10px !important;
}

:host ::ng-deep .p-fileupload-row>div:last-of-type {
  width: 10% !important;
  max-width: 36% !important;
}

:host ::ng-deep .p-fileupload-row>div:last-of-type button {
  width: 100% !important;
}

:host ::ng-deep .p-fileupload-row>div {
  text-align: center;
}

:host ::ng-deep .p-fileupload-content .p-progressbar {
  display: none !important;
}

:host ::ng-deep .p-fileupload-row {
  margin-bottom: 10px;
  margin-top: 10px;

}

:host ::ng-deep .p-fileupload-row img {
  width: 100%;
  object-fit: contain;

}

:host .container-radio-button {
  .mat-mdc-radio-group {
    margin: 0 -25px
  }
}

:host ::ng-deep .p-fileupload .p-fileupload-row>div {
  padding: 0px;
}

:host ::ng-deep p-calendar.ng-dirty.ng-invalid {
  .p-button {
    border-color: #e24c4c !important;
  }
}

:host ::ng-deep p-calendar.ng-dirty.ng-invalid>.p-calendar>.p-inputtext {
  border-color: #e24c4c !important;
}