<div class="container-Dialog">
  <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
    <h3 class="title-Dialog m-0">
      {{data!['title']|translate}}
    </h3>
    <button class="icon-close iconCloseDialog" type="button" (click)="close()">
      <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
      <i class="pi pi-times-circle"></i>
    </button>
  </header>
  <div class="body-dialog p-15 f-s-16">
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">الرقم الوظيفي</label>
      <div class="content-password">
        {{info?.employeeNumber ? info?.employeeNumber : "لا يوجد"}}
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title"> المسمى الوظيفي</label>
      <div class="content-password">
        {{info?.jobTitleName ? info?.jobTitleName : "لا يوجد"}}

      </div>

    </div>
    <div class="section1 d-flex line-bellow">
      <div class="col">
        <label class="title">حالة الموظف</label>
        <span class="d-clock">{{info?.isActive ? 'نشط' : 'غير نشط'}}</span>
      </div>
      <div class="col">
        <label class="title">نوع الدوام</label>
        <span class="d-block">{{info?.attendanceTypeName ? info?.attendanceTypeName : "لا يوجد"}}</span>
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">اسم الموظف</label>
      <div class="content-password">
        {{info?.name ? info?.name : "لا يوجد"}}
      </div>

    </div>

    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">نوع الموظف</label>
      <div class="content-password">
        {{info?.employeeTypeName ? info?.employeeTypeName : "لا يوجد"}}

      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">القسم</label>
      <div class="content-password">
        {{info?.dapartmentName ? info?.dapartmentName : "لا يوجد"}}
      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">المدير المباشر</label>
      <div class="content-password">
        {{info?.directManagerName ? info?.directManagerName : "لا يوجد"}}

      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">تاريخ الالتحاق</label>
      <div class="content-password">
        {{info?.joiningDate ? info?.joiningDate: "لا يوجد"}}

      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">رصيد الاجازات</label>
      <div class="content-password">
        {{info?.annualVacationBalance ? info?.annualVacationBalance : "0"}} يوم
      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">جدول الدوام</label>
      <div class="content-password">
        {{info?.scheduleName ? info?.scheduleName : "لا يوجد"}}
      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">البريد الالكتروني</label>
      <div class="content-password">
        {{info?.email ? info?.email : "لا يوجد"}}

      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">رقم الهاتف</label>
      <div class="content-password">
        {{info?.mobileNumber ? info?.mobileNumber : "لا يوجد"}}

      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">العنوان</label>
      <div class="content-password">
        {{info?.address ? info?.address : "لا يوجد"}}

      </div>
    </div>
  </div>

</div>

<div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>