<div class="container-Dialog">
  <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
    <h3 class="title-Dialog m-0">
      {{data!['title']|translate}}
    </h3>
    <button class="icon-close iconCloseDialog" type="button" (click)="close()">
      <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
      <i class="pi pi-times-circle"></i>
    </button>
  </header>
  <div class="body-dialog p-15 f-s-16">
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">السماح بتعديل كود موبايل البصمة</label>
      <div class="content-password">
        {{info?.allowChangeFingerprintMobileCode ? "نعم" : "لا"}}
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"employees.jobNumber"|translate}} </label>
      <div class="content-password">
        {{info?.employeeNumber ? info?.employeeNumber : "لا يوجد"}}
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"employees.jobTitle"|translate}}</label>
      <div class="content-password">
        {{info?.jobTitleName ? info?.jobTitleName : "لا يوجد"}}

      </div>

    </div>
    <div class="section1 d-flex line-bellow">
      <div class="col">
        <label class="title">{{"employees.employeeStatus"|translate}} </label>
        <span class="d-clock">
          <ng-container *ngIf="info?.isActive">
            {{"employees.active"|translate}}
          </ng-container>
          <ng-container *ngIf="!info?.isActive">
            {{"employees.Inactive"|translate}}
          </ng-container>
        </span>
      </div>
      <div class="col">
        <label class="title">{{"employees.permanenceType"|translate}}</label>
        <span class="d-block">{{info?.attendanceTypeName ? info?.attendanceTypeName : "لا يوجد"}}</span>
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"employees.employeeName"|translate}}</label>
      <div class="content-password">
        {{info?.name ? info?.name : "لا يوجد"}}
      </div>

    </div>

    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"employees.employeeType"|translate}}</label>
      <div class="content-password">
        {{info?.employeeTypeName ? info?.employeeTypeName : "لا يوجد"}}

      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"employees.section"|translate}}</label>
      <div class="content-password">
        {{info?.dapartmentName ? info?.dapartmentName : "لا يوجد"}}
      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"employees.directManager"|translate}}</label>
      <div class="content-password">
        {{info?.directManagerName ? info?.directManagerName : "لا يوجد"}}

      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"employees.zones"|translate}}</label>     
      <ng-container *ngFor="let zone of info?.zones">
        <div class="content-password">
          {{zone}}
  
        </div>
      </ng-container>
      <ng-container *ngIf="info?.zones?.length === 0">لا يوجد</ng-container>
  
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"employees.joiningDate"|translate}}</label>
      <div class="content-password">
        {{info?.joiningDate ? info?.joiningDate: "لا يوجد"}}

      </div>
    </div>

    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"employees.workSchedule"|translate}}</label>
      <div class="content-password">
        {{info?.scheduleName ? info?.scheduleName : "لا يوجد"}}
      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"employees.email"|translate}}</label>
      <div class="content-password">
        {{info?.email ? info?.email : "لا يوجد"}}
      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"employees.phoneNumber"|translate}}</label>
      <div class="content-password d-flex align-items-center">
        <span class="image-country-mobilePhone select-country-image">
          <img [src]="info.mobileCountryFlagPath" width="40" height="30" [alt]="info.mobileCountryCode">
        </span>
        <span class="info-mobileCountryCode">{{ info.mobileCountryCode }}</span>
        <span class="info-text-mobile">{{info?.mobileNumber ? info?.mobileNumber : "لا يوجد"}}</span>
      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{"employees.theAddress"|translate}}</label>
      <div class="content-password">
        {{info?.address ? info?.address : "لا يوجد"}}

      </div>
    </div>
  </div>

</div>

<div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>