<div class="container-Dialog">
    <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
      <h3 class="title-Dialog m-0">
        {{data!['title']|translate}}
      </h3>
      <button class="icon-close iconCloseDialog" type="button" (click)="close()">
        <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
        <i class="pi pi-times-circle"></i>
      </button>
    </header>
    <div class="body-dialog p-15 f-s-16">
        <div class="sectionTwo mb-3 line-bellow">
            <label class="title"> تعيين كنشط </label>
            <div class="content-password">
              {{info?.isActive ? "نشط" : "غير نشط"}}
            </div>
          </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">الأسماء</label>
        <ng-container *ngFor="let translate of info?.nameTranslations">
        <div class="content-password content-border">
            أسم اللغة : {{translate.languageName}} <br>
            أسم الشاشة : {{translate.name}}
          </div>
        </ng-container>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">إسم المجموعة</label>
        <div class="content-password">
          {{info?.name ? info?.name : "لا يوجد"}}
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">الأيقونة</label>
        <div class="content-password">
          {{info?.icon ? info?.icon : "لا يوجد"}}
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">إسم المجموعة الأم</label>
        <div class="content-password">
          {{info?.parentName ? info?.parentName : "لا يوجد"}}
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">نوع التطبيق</label>
        <div class="content-password">
          {{info?.authenticationTypeName ? info?.authenticationTypeName : "لا يوجد"}}
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">الترتيب</label>
        <div class="content-password">
          {{info?.order ? info?.order : "لا يوجد"}}
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title"> الملاحظات </label>
        <div class="content-password">
          {{info?.notes ? info?.notes : "لا يوجد"}}
        </div>
      </div>
    </div>

    <div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>