<div class="container-Dialog">
  <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
    <h3 class="title-Dialog m-0">
      {{data!['title']|translate}}

    </h3>
    <button class="icon-close iconCloseDialog" type="button" (click)="close()">
      <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
      <i class="pi pi-times-circle"></i>
    </button>
  </header>
  <div class="body-dialog p-15 f-s-16">
    <form [formGroup]="addBranchGroupForm">
      <div class="section1 mb-3">
        <label class="title">{{data!['setAsNecessary']|translate}}</label>
        <p-inputSwitch formControlName="isActive"></p-inputSwitch>
      </div>
      <div class="section-radios mb-3">
        <label class="title">{{data!['labelRadioButtonFirst']|translate}}</label>

        <div class="container-radio-button">
          <mat-radio-group aria-label="Select an option" color="primary" formControlName="AttendanceType">
            <mat-radio-button value="0">{{data!['firstRadio']|translate}}
            </mat-radio-button>
            <mat-radio-button value="1">{{data!['secondRadio']|translate}}</mat-radio-button>
            <mat-radio-button value="2">{{data!['thirdRadio']|translate}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <ng-container *ngIf="editEmployee">
        <div class="field-disabled mb-3 readOnly">
          <label for="" class="label-input mb-2" [innerHTML]="data!['titleFieldDisabled']|translate"></label>
          <div class="content-password">
            <input type="text" pInputText formControlName="fieldDisabled" [readOnly]="true"
              [placeholder]="data!['placeholdeieldDisabled']|translate" class="w-100" />
          </div>
        </div>
      </ng-container>

      <div class="sectionField mb-3">
        <label for="" class="label-input mb-2" [innerHTML]="data!['fieldFirst']|translate"></label>
        <div class="content-password">
          <input type="text" pInputText formControlName="name" [placeholder]="data!['placeholdefieldFirst']|translate"
            class="w-100" />
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('name')?.errors">
          <div class="alert alert-danger" *ngIf="getControl('name')?.hasError('required') && getControl('name')?.dirty">
            {{data!['validationtitlefieldFirst']|translate}}
          </div>
        </div>
        <!--End Custom Validators-->
      </div>
      <div class="sectionField mb-3">
        <label for="" class="label-input mb-2" [innerHTML]="data!['JobNumber']|translate"></label>
        <div class="content-password">
          <input type="number" pInputText formControlName="employeeNumber"
            [placeholder]="data!['placeholdeJobNumber']|translate" class="w-100" />
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('employeeNumber')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('employeeNumber')?.hasError('required') && getControl('employeeNumber')?.dirty">
            {{data!['validationtitleJobNumber']|translate}}
          </div>
          <div class="alert alert-danger"
          *ngIf="getControl('employeeNumber')?.hasError('min') && getControl('employeeNumber')?.dirty">
           {{"employees.lowestNumber"|translate}} 
        </div>
        </div>
        <!--End Custom Validators-->
      </div>
      <div class="sectionTwo mb-3">
        <label class="title" [innerHTML]="data!['titleDropdownFirst']|translate"></label>
        <div class="content-password">
          <p-dropdown appendTo="body" formControlName="JobTitleId" [options]="jobTitleFirst"
            [placeholder]="data!['placeholderDropdownFirst']|translate" optionLabel="name">

            <ng-template pTemplate="header">
              <span class="p-input-icon-left input-search-dropdown">

                <i class="pi pi-search" (click)="searchDropdown(searchJobTotle.value, 'JobTitleId')"></i>
                <input type="text" placeholder="بحث" pInputText #searchJobTotle />
              </span>
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{ option.name }}
            </ng-template>
          </p-dropdown>
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('JobTitleId')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('JobTitleId')?.hasError('required') && getControl('JobTitleId')?.dirty">
            {{data!['validationtitleDropdownFirst']|translate}}
          </div>
        </div>
        <!--End Custom Validators-->
      </div>
      <div class="sectionTwo mb-3">
        <label class="title" [innerHTML]="data!['directManager']|translate"></label>
        <div class="content-password">
          <p-dropdown appendTo="body" formControlName="directManager" [options]="listDirectManager"
            [placeholder]="data!['placeholdeDirectManager']|translate" optionLabel="name">
            <ng-template pTemplate="header">
              <span class="p-input-icon-left input-search-dropdown">

                <i class="pi pi-search" (click)="searchDropdown(searchdirectManager.value, 'directManager')"></i>
                <input type="text" [placeholder]="'requests.search' | translate" pInputText #searchdirectManager />
              </span>
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{ option.name }}
            </ng-template>

          </p-dropdown>
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('directManager')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('directManager')?.hasError('required') && getControl('directManager')?.dirty">
            {{data!['validationtitleDirectManager']|translate}}
          </div>
        </div>
        <!--End Custom Validators-->
      </div>
      <!-- <div class="sectionField mb-3">
        <label for="" class="label-input mb-2" [innerHTML]="data!['directManager']|translate"></label>
        <div class="content-password">
          <input type="number" pInputText formControlName="directManager"
            [placeholder]="data!['placeholdeDirectManager']|translate" class="w-100" />
        </div>
        <div class="container-alerts mt-2" *ngIf="getControl('directManager')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('directManager')?.hasError('required') && getControl('directManager')?.dirty">
            {{data!['validationtitleDirectManager']|translate}}
          </div>
        </div>
      </div> -->
      <div class="sectionField mb-3">
        <label for="" class="label-input mb-2" [innerHTML]="data!['email']|translate"></label>
        <div class="content-password">
          <input type="text" pInputText formControlName="email" [placeholder]="data!['placeholdeEmail']|translate"
            class="w-100" />
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('email')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('email')?.hasError('required') && getControl('email')?.dirty">
            {{data!['validationtitleEmail']|translate}}
          </div>
          <div class="alert alert-danger"
            *ngIf="getControl('email')?.hasError('pattern') && !getControl('email')?.hasError('required')y">
            {{data!['validationtitleEmailPattern']|translate}}
          </div>
        </div>
        <!--End Custom Validators-->
      </div>
      <div class="sectionField mb-3">
        <label for="" class="label-input mb-2" [innerHTML]="data!['mobileNumber']|translate"></label>
        <div class="content-password position-relative content-phone-number">
          <span class="dropdown-code">
            <!-- {{code}} -->
            <p-dropdown appendTo="body" [options]="countriesPhone" [(ngModel)]="isCurrentCountry"  [ngModelOptions]="{standalone: true}"
              optionLabel="name" (onChange)="selectCountry()">
            <ng-template let-option pTemplate="selectedItem">
              <div class="d-flex align-items-center gap-2" >
                <span class="image-country-mobilePhone select-country-image">
                  <img [src]="option.flagPath" width="25" height="25" [alt]="option.countryISOCode">
                </span>
                  <div>{{ option.dial }}</div>
                  
              </div>
          </ng-template>
            <ng-template pTemplate="header">
              <span class="p-input-icon-left input-search-dropdown">

                <i class="pi pi-search"  (click)="searchDropdown(searchcompanyCountryId.value, 'companyCountryId')"></i>
                <input type="text" placeholder="بحث" (keyup.enter)="searchDropdown(searchcompanyCountryId.value, 'companyCountryId')" pInputText #searchcompanyCountryId />
              </span>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <span class="image-country-mobilePhone item-c-mobilePhone">
                <img [src]="option.flagPath" width="30" height="30" [alt]="option.countryISOCode">
              </span>
              <span class="item-text">{{ option.name }}</span>
          
            </ng-template>
          </p-dropdown>

          </span>
          <input type="text" pInputText formControlName="mobileNumber"
            [placeholder]="data!['placeholdeMobileNumber']|translate" class="w-100" />
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('mobileNumber')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('mobileNumber')?.hasError('required') && getControl('mobileNumber')?.dirty">
            {{data!['validationtitleMobileNumber']|translate}}
          </div>
          <div class="alert alert-danger"
          *ngIf="getControl('mobileNumber')?.hasError('pattern') && getControl('mobileNumber')?.dirty">
          {{"employees.phoneNumberIsIncorrect"|translate}} 
        </div>
        </div>
        <!--End Custom Validators-->
      </div>
      <div class="sectionField mb-3">
        <label for="" class="label-input mb-2" [innerHTML]="data!['address']|translate"></label>
        <div class="content-password">
          <input type="text" pInputText formControlName="address" [placeholder]="data!['placeholdeAddress']|translate"
            class="w-100" />
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('address')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('address')?.hasError('required') && getControl('address')?.dirty">
            {{data!['validationtitleAddress']|translate}}
          </div>
        </div>
        <!--End Custom Validators-->
      </div>
      <div class="sectionTwo mb-3">
        <label class="title" [innerHTML]="data!['titleDropdownSecond']|translate"></label>
        <div class="content-password">
          <p-dropdown appendTo="body" formControlName="DepartmentId" [readonly]="departmentIsReadOnly" [options]="sectionList"
            [placeholder]="data!['placeholderDropdown']|translate" optionLabel="name">
            <ng-template pTemplate="header">
              <span class="p-input-icon-left input-search-dropdown">

                <i class="pi pi-search" (click)="searchDropdown(searchDepartmentId.value, 'DepartmentId')"></i>
                <input type="text" [placeholder]="'requests.search' | translate" pInputText #searchDepartmentId />
              </span>
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{ option.name }}
            </ng-template>
          </p-dropdown>
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('DepartmentId')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('DepartmentId')?.hasError('required') && getControl('DepartmentId')?.dirty">
            {{data!['validationtitleDropdownSecond']|translate}}
          </div>
        </div>
        <!--End Custom Validators-->
      </div>

      <div class="col-12  mb-3">
        <div class="row">
          <div class="col">
            <div class="sectionThree">
              <label class="title" [innerHTML]="data!['titleCalendar']|translate"></label>
              <div class="content-password">
                <div class="content-pCalendar-default" dir="ltr">
                  <p-calendar formControlName="JoiningDate" appendTo="body"
                    [placeholder]="data!['placeholderCalendar']|translate" [showIcon]="true"></p-calendar>
                </div>
              </div>
              <!--Start Custom Validators-->
              <div class="container-alerts mt-2" *ngIf="getControl('JoiningDate')?.errors">
                <div class="alert alert-danger"
                  *ngIf="getControl('JoiningDate')?.hasError('required') && getControl('JoiningDate')?.dirty">
                  {{data!['validationCalendar']|translate}}
                </div>
              </div>
              <!--End Custom Validators-->
            </div>
          </div>
        </div>
      </div>

      <div class="sectionTwo mb-3">
        <label class="title" [innerHTML]="data!['titleWorkSchedule']|translate"></label>
        <div class="content-password">
          <p-dropdown appendTo="body" formControlName="ScheduleId" [options]="workScheduleList"
            [placeholder]="data!['placeholderWorkSchedule']|translate" optionLabel="name">
            <ng-template pTemplate="header">
              <span class="p-input-icon-left input-search-dropdown">

                <i class="pi pi-search" (click)="searchDropdown(searchScheduleId.value, 'ScheduleId')"></i>
                <input type="text" [placeholder]="'requests.search' | translate" pInputText #searchScheduleId />
              </span>
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{ option.name }}
            </ng-template>
          </p-dropdown>
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('ScheduleId')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('ScheduleId')?.hasError('required') && getControl('ScheduleId')?.dirty">
            {{data!['validationtitleWorkSchedule']|translate}}
          </div>
        </div>
        <!--End Custom Validators-->
      </div>
      <div class="sectionTwo mb-3">
        <label class="title"> {{"employees.zones"|translate}}<span class="color-red">*</span></label>
        <div class="content-password">
          <p-multiSelect [options]="listZones" appendTo="body" [filter]="false" formControlName="zoneIds"
            [placeholder]="'employees.zones'|translate" optionLabel="name">
            <ng-template pTemplate="header">
              <span class="p-input-icon-left input-search-dropdown">

                <i class="pi pi-search" (click)="searchDropdown(searchzoneIds.value, 'zoneIds')"></i>
                <input type="text" [placeholder]="'requests.search' | translate" pInputText #searchzoneIds />
              </span>
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{ option.name }}
            </ng-template>
          </p-multiSelect>

        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('zoneIds')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('zoneIds')?.hasError('required') && getControl('zoneIds')?.dirty">
            {{"employees.zonesAreRequired"|translate}}
          </div>
        </div>
        <!--End Custom Validators-->
      </div>
      <div class="section-radios mb-3">
        <label class="title">{{data!['labelEmployeeName']|translate}}</label>

        <div class="container-radio-button">
          <mat-radio-group aria-label="Select an option" color="primary" formControlName="employeeType">
            <mat-radio-button value="0">{{data!['firstRadioEmployeeName']|translate}}
            </mat-radio-button>
            <mat-radio-button value="1">{{data!['secondRadioEmployeeName']|translate}}</mat-radio-button>
            <mat-radio-button value="2">{{data!['thirdRadioEmployeeName']|translate}}</mat-radio-button>
            <mat-radio-button value="3">{{data!['thirdRadioFour']|translate}}</mat-radio-button>

          </mat-radio-group>
        </div>
      </div>
      <div class="section-workingDays mb-3">
        <label class="mb-2 d-block f-s-16">{{data!['uploadFile']|translate}}</label>
        <div class="item uploadFiles">
          <!-- accept="image/*" -->
          <p-fileUpload name="files[]" chooseIcon="pi pi-cloud-upload" accept="image/png, image/gif, image/jpeg, application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.docx, application/vnd.openxmlformats-officedocument.wordprocessingml.document" [customUpload]="true"
            [chooseLabel]="data!['chooseLabel']|translate" (onSelect)="onFileChange($event, 2)" [showUploadButton]="false"
            [showCancelButton]="false">
            <ng-template pTemplate="content">

              <ul class="list-unstyled p-0" *ngIf="AttachmentsFiles.length">
                <li class="p-fileupload-row" *ngFor="let file of AttachmentsFiles; let i = index">
                  <div>
                    <img [src]="viewImagesIdCopy[i]" width="50" height="100" alt="">

                  </div>
                  <div class="p-fileupload-filename" [title]="file.fileUpload.name">
                    <span class="d-block">{{"employees.name"|translate}}:</span>
                    {{
                    file.fileUpload.name.length > 69 ? (file.fileUpload.name | slice:0:70) + '......' : file.fileUpload.name
                    }}
                  </div>
                  <div>
                    <span class="d-block">{{"employees.size"|translate}}:</span>
                    {{
                    file.fileUpload.size }}
                  </div>
                  <div>
                    <button class="p-element p-button p-component p-button-icon-only"
                      (click)="onRemoveCommercialReg(file.fileUpload)">
                      <span class="p-button-icon pi pi-times" aria-hidden="true">

                      </span>
                    </button>

                  </div>
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
          <span class="maximum-size">{{"employees.maximumFileSize"|translate}}</span>
        </div>
               <!--Start Custom Validators-->
               <div class="container-alerts mt-s-16">
                <div class="alert alert-danger mb-3" *ngIf="errorUploadFileIdCopy">
                    {{errorUploadFileIdCopy}}
                </div>
                <div class="alert alert-danger mb-3"
                    *ngIf="errorUploadFileIdCopyIsRequired && getControl('idCopyFile')?.dirty">
                    {{errorUploadFileIdCopyIsRequired}}
                </div>
                <div class="alert alert-danger mb-3"
                    *ngIf="getControl('idCopyFile')?.hasError('required') && getControl('idCopyFile')?.dirty">
                    Upload Files is Required
                </div>
            </div>
            <!--End Custom Validators-->
        <!--
        <div class="container-alerts mb-2" *ngIf="uploadedCommercialRegFiles.length<= 0 && requiredCommercialRegFiles">
          <div class="alert alert-danger">
            مطلوب تحميل الملف
          </div>

        </div> -->

      </div>
      <!-- <div class="sectionFive mb-3">
        <label for="" class="label-input mb-2" [innerHTML]="data!['titleNotes']|translate"></label>
        <div class="content-password">
          <input type="number" pInputText formControlName="AnnualVacationBalance"
            [placeholder]="data!['placeholdeNotes']|translate" class="w-100" />
        </div>
        <div class="container-alerts mt-2" *ngIf="getControl('AnnualVacationBalance')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('AnnualVacationBalance')?.hasError('required') && getControl('AnnualVacationBalance')?.dirty">
            {{data!['validationtitleNotes']|translate}}
          </div>
          <div class="alert alert-danger"
          *ngIf="getControl('AnnualVacationBalance')?.hasError('min') && getControl('AnnualVacationBalance')?.dirty">
           {{"employees.lowestNumber"|translate}}
        </div>
        </div>
      </div> -->
    </form>

    <!-- <form [formGroup]="addBranchGroupForm">
            <ng-container *ngIf="data?.subTitle">
                <div class="mb-3" [innerHTML]="data!['subTitle']!|translate"></div>
            </ng-container>
            <div class="li-input col-12" *ngFor="let input of data?.addBranchesInputsProps">
                <label for="" class="label-input mb-2" [innerHTML]="input['LabelMessage']|translate"></label>
                <div class="content-password">


                    <input [formControlName]="input.name" pInputText class="w-100" [type]="input.inputType" required
                        [name]="input.name" />
                </div>
                <div class="container-alerts" *ngIf="getControl(input.name)?.errors">
                    <div class="alert alert-danger"
                        *ngIf="getControl(input.name)?.hasError('required') && getControl(input.name)?.dirty">
                        {{input['message']|translate}}
                    </div>
                </div>
            </div>
        </form> -->

  </div>
  <footer class="footer-dialog p-15 d-flex justify-content-end">

    <button class="background-blue w-100 color-white b-r-4 button-action ml-2 mr-2 f-s-16"
      (click)="request()">{{submitted ?
      (data!['buttonSend']|translate) : ('dialogs.loading'|translate)}}</button>
    <button class="btn-outline-primary w-100 ml-2  b-r-4 button-action-two ml-2 mr-2 f-s-16"
      (click)="close()">{{data!['titleClose']|translate}}</button>
  </footer>
</div>
<div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>