.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}
h1, h2 {
    text-align: center;
    margin-top: 20px;
}
.lang-section {
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
}
.lang-section:last-child {
    border-bottom: none;
}
.lang-section h2 {
    color: #333;
}
.lang-section p {
    text-align: justify;
}
.container-privacyandpolicy {
    overflow-y: auto;
    height: 100vh;
    direction: rtl;
}