<div class="container-Dialog">
  <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
    <h3 class="title-Dialog m-0">
      {{data!['title']|translate}}
    </h3>
    <button class="icon-close iconCloseDialog" type="button" (click)="close()">
      <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
      <i class="pi pi-times-circle"></i>
    </button>
  </header>
  <div class="body-dialog p-15 f-s-16">
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{'employees.setAsActive' | translate}}</label>
      <div class="content-password">
        <ng-container *ngIf="info?.isActive">{{'employees.active' | translate}}</ng-container>
        <ng-container *ngIf="!info?.isActive">{{'employees.Inactive' | translate}}</ng-container>

      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{'vacationBalance.GroupName' | translate}}</label>
      <div class="content-password">
        <ng-container *ngIf="info?.name">{{info?.name}}</ng-container>
        <ng-container *ngIf="!info?.name">{{'department.nothing' | translate}}</ng-container>

      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{'groups.groupEmployees' | translate}}</label>
      <div class="content-password">
        <ng-container *ngFor="let employee of info?.employees">
          <span class="d-block mb-2">
            <ng-container *ngIf="employee">{{employee}}</ng-container>
            <ng-container *ngIf="!employee">{{'department.nothing' | translate}}</ng-container>
          </span>
        </ng-container>
        <ng-container *ngIf="!info?.employees?.length">{{'department.nothing' | translate}}</ng-container>

      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{'groups.groupManager' | translate}}</label>
      <div class="content-password">
        <ng-container *ngIf="info?.managerName">{{info?.managerName}}</ng-container>
        <ng-container *ngIf="!info?.managerName">{{'department.nothing' | translate}}</ng-container>
      </div>


    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{'groups.locationData' | translate}} </label>
      <div class="content-password">
        <ng-container *ngFor="let zone of info?.zones">
          <span class="d-block mb-2">
            <ng-container *ngIf="zone">{{zone}}</ng-container>
            <ng-container *ngIf="!zone">{{'department.nothing' | translate}}</ng-container>
          </span>
        </ng-container>
        <ng-container *ngIf="!info?.zones?.length">{{'department.nothing' | translate}}</ng-container>

      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{'groups.deputyDirector' | translate}}</label>
      <div class="content-password">
        <ng-container *ngFor="let manager of info?.managerDelegators">
          <span class="d-block mb-2">
            <ng-container *ngIf="manager">{{manager}}</ng-container>
            <ng-container *ngIf="!manager">{{'department.nothing' | translate}}</ng-container>
          </span>
        </ng-container>
        <ng-container *ngIf="!info?.managerDelegators?.length">{{'department.nothing' | translate}}</ng-container>

      </div>

    </div>


  </div>

</div>

<div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>