@media (max-width:520px) {

  :host ::ng-deep .table-basic #tableVacation .p-datatable-tfoot>tr>td {
    display: block !important;
  }
}

.td-green {
  color: green;
}

.td-red {
  color: red;
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th:last-of-type {
  width: 12% !important;
}

.action-body-td {
  padding: 10px 0;
}
#tableVacationHidden,
.title-table {
  letter-spacing: normal !important;

}
.logoTable {
  img {
    width: 180px;
    height: 50px;
    object-fit: scale-down
  }
}
.hideTable {
  overflow: hidden;
  height: 0;
  #tableVacationHidden {
    position: relative;
    left: -100%;
  }
}
:host ::ng-deep  #tableVacationHidden .p-datatable .p-datatable-header {
  background-color: white !important;
}
