<div class="container-Dialog">
    <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
      <h3 class="title-Dialog m-0">
        {{data!['title']|translate}}
  
      </h3>
      <button class="icon-close iconCloseDialog" type="button" (click)="close()">
        <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
        <i class="pi pi-times-circle"></i>
      </button>
    </header>
    <div class="body-dialog p-15 f-s-16">
      <form [formGroup]="addBranchGroupForm">
        <div class="section1 mb-3">
          <label class="title">{{data!['setAsActive']|translate}}</label>
          <p-inputSwitch formControlName="isActive"></p-inputSwitch>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="sectionTwo mb-3">
                <label class="title"> اختر الإشتراك <span class="color-red">*</span></label>
                <div class="content-password">
                  <p-dropdown appendTo="body" formControlName="SubscriptionId" appendTo="body" [options]="listSubscriptions"
                    placeholder="اختر الإشتراك" optionLabel="name">
                    <ng-template pTemplate="header">
                      <span class="p-input-icon-left input-search-dropdown">
  
                        <i class="pi pi-search" (click)="searchDropdown(searchSubscriptionId, 'SubscriptionId')"></i>
                        <input type="text" [placeholder]="'requests.search'|translate" pInputText #searchSubscriptionId />
                      </span>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                      {{ option.name }}
                    </ng-template>
                  </p-dropdown>
                </div>
                <!--Start Custom Validators-->
                <div class="container-alerts mt-2" *ngIf="getControl('SubscriptionId')?.errors">
                  <div class="alert alert-danger"
                    *ngIf="getControl('SubscriptionId')?.hasError('required') && getControl('SubscriptionId')?.dirty">
                   الشركة مطلوبة
                  </div>
                </div>
                <!--End Custom Validators-->
              </div>
              <div class="sectionFive mb-3">
                <label for="" class="label-input mb-2"> المبلغ المدفوع <span class="color-red">*</span></label>
                <div class="content-password">
                  <input type="number" pInputText formControlName="Amount"
                    placeholder="المبلغ المدفوع" class="w-100" />
                </div>
                <!--Start Custom Validators-->
                <div class="container-alerts mt-2" *ngIf="getControl('Amount')?.errors">
                  <div class="alert alert-danger"
                    *ngIf="getControl('Amount')?.hasError('required') && getControl('Amount')?.dirty">
                    المبلغ المدفوع مطلوبة
                  </div>
                </div>
                <!--End Custom Validators-->
              </div>
            <div class="sectionFive  mb-3">
                <div class="sectionThree">
                  <label class="title"> تاريخ عملية الدفع <span class="color-red">*</span></label>
                  <div class="content-password">
                    <div class="content-pCalendar-default" dir="ltr">
                      <p-calendar formControlName="Date"  appendTo="body"
                        placeholder="تاريخ عملية الدفع" [showIcon]="true"></p-calendar>
                    </div>
                  </div>
                  <div class="container-alerts mt-2" *ngIf="getControl('Date')?.errors">
                    <div class="alert alert-danger"
                      *ngIf="getControl('Date')?.hasError('required') && getControl('Date')?.dirty">
                      تاريخ عملية الدفع مطلوبة
                    </div>
                  </div>
                </div>
              </div>
              <div class="sectionFive mb-3">
                <label for="" class="label-input mb-2" [innerHTML]="data!['titleNotes']|translate"></label>
                <div class="content-password">
                  <input type="text" pInputText formControlName="notes" [placeholder]="data!['placeholdeNotes']|translate"
                    class="w-100" />
                </div>
                <!--Start Custom Validators-->
                <div class="container-alerts mt-2" *ngIf="getControl('notes')?.errors">
                  <div class="alert alert-danger"
                    *ngIf="getControl('notes')?.hasError('required') && getControl('notes')?.dirty">
                    {{data!['ValidationNotes']|translate}}
                  </div>
                </div>
                <!--End Custom Validators-->
              </div>
  
  
            </div>
  
          </div>
        </div>
  
      </form>
    </div>
    <footer class="footer-dialog p-15 d-flex justify-content-end">
      <button class="background-blue w-100 color-white b-r-4 button-action ml-2 mr-2 f-s-16"
        (click)="request()">{{submitted
        ?
        (data!['buttonSend']|translate) : ('dialogs.loading'|translate)}}</button>
      <button class="btn-outline-primary w-100 ml-2  b-r-4 button-action-two ml-2 mr-2 f-s-16"
        (click)="close()">{{data!['titleClose']|translate}}</button>
    </footer>
  </div>
  <div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  