<div class="container-Dialog">
  <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
    <h3 class="title-Dialog m-0">
      {{data!['title']|translate}}
    </h3>
    <button class="icon-close iconCloseDialog" type="button" (click)="close()">
      <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
      <i class="pi pi-times-circle"></i>
    </button>
  </header>
  <div class="body-dialog p-15 f-s-16">
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">الرقم</label>
      <div class="content-password">
        {{info?.code ? info?.code : "لا يوجد"}}
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title"> تعيين كضرورية </label>
      <div class="content-password">
        {{info?.isActive ? "نشط" : "غير نشط"}}

      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title"> الاسم </label>
      <div class="content-password">
        {{info?.employee?.name ? info?.employee?.name : "لا يوجد"}}

      </div>

    </div>



  </div>

  <div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>