<div class="container-Dialog">
    <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
      <h3 class="title-Dialog m-0">
        {{data!['title']|translate}}
  
      </h3>
      <button class="icon-close iconCloseDialog" type="button" (click)="close()">
        <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
        <i class="pi pi-times-circle"></i>
      </button>
    </header>
    <div class="body-dialog p-15 f-s-16">
        <div class="termsAndConditions-desc">
            2.1  للدخول إلى موقع سكاي نيوز عربية، يجب أن لا يقل عمرك عن 21 عاما (حسب التقويم الميلادي) وأن تكون ذا أهلية قانونية كاملة.

            2.2   يحتاج أي شخص أقل من 21 عاما (حسب التقويم الميلادي) يقوم باستخدام موقع سكاي نيوز عربية إلى الحصول على موافقة والديه أو وصيه للقيام بذلك.

            2.3 تقر وتتعهد بأنك تتمتع بالحق والقدرة القانونية على استخدام موقع سكاي نيوز عربية حسب ما هو منصوص عليه في هذه الشروط والأحكام.

            2.4 تقر بأن أي استخدام تقوم به لموقع سكاي نيوز عربية سيكون حسب ما هو منصوص عليه في الشروط التالية:

            (أ‌) لن تقوم بنسخ، تحميل، إعادة إنتاج، إعادة نشر، تأطير، بث، أو إرسال بأي شكل من الأشكال أي من المواد التي يوفرها موقع سكاي نيوز عربية باستثناء لاستخداماتك الشخصية المنزلية غير التجارية فقط؛

            (ب‌)  تلتزم بالقواعد المحددة التي تنطبق على أي ترويج تشارك فيه بأي شكل من خلال موقع سكاي نيوز عربية؛ و

            (ت‌)  تلتزم بعدم القيام بأي شيء يكون من شأنه التأثير على تشغيل أو أمن موقع سكاي نيوز عربية أو يتسبب في انزعاج غير منطقي أو إساءة أو تعطيل أي من المستخدمين الآخرين أو العاملين لدينا.

            2.5 توافق على الامتناع عن الأمور التالية (سواء قمت أنت بها شخصيا أو من خلال طرف ثالث):

            (أ‌) استخدام عملية آلية لمعالجة، مراقبة، نسخ، استخراج أي صفحات موجودة على موقع سكاي نيوز عربية، أو أي معلومات، أو محتوى أو بيانات يحتويها أو يتم الوصول إليها عن طريق موقع سكاي نيوز عربية، دون الحصول على الموافقة الخطية المسبقة من قبلنا؛

            (ب‌) استخدام عملية آلية لتجميع أو دمج المعلومات، أو المحتوى أو البيانات التي يحتويها أو يمكن الوصول إليها عن طريق موقع سكاي نيوز عربية مع المعلومات، أو المواد أو البيانات التي يتم الوصول إليها عن طريق أو التي يكون مصدرها طرف ثالث؛

            (ت‌) استخدام أي عملية آلية للتدخل في أو محاولة التدخل في طريقة العمل السليمة لموقع سكاي نيوز عربية؛

            (ث‌) القيام بأي فعل يكون من شأنه فرض حمل كبير بشكل غير منطقي أو غير متناسب مع البنية التحتية المتاحة أو النطاق الترددي لموقع سكاي نيوز عربية؛

            (ج‌) تطبيق هندسة عكسية، أو جمع عكسي، أو تفكيك، أو أي عمل آخر من يكون شأنه اكتشاف رمز مصدري أو غيره من الصيغ الحسابية أو المعالجات فيما يخص برنامج الحاسوب المستخدم في البنية التحتية والعمليات المتعلقة بموقع سكاي نيوز عربية؛ أو

            (ح‌) نسخ، إعادة إنتاج، تغيير، تعديل، اشتقاق أعمال من، أو إقامة عرض عام، لأي جزء من محتوى موقع سكاي نيوز عربية دون الموافقة الخطية المسبقة من قبلنا.

            2.6 من أجل الوصول إلى موقع سكاي نيوز عربية، ستحتاج إلى الوصول إلى الإنترنت. تتحمل مسؤولية أي اتصال، أو خدمة أو رسوم مرتبطة بالوصول إلى الإنترنت وتوفير كافة المعدات اللازمة لتمكينك من الاتصال بالإنترنت (بما في ذلك الحاسوب والمودم وغيرها من الأجهزة الضرورية للوصول).

            2.7  نظرا لمحدودية قدرة كافة أجهزة الخادم (سيرفر) واستخدامها من قبل العديد من الأشخاص في الوقت نفسه، فإنك تلتزم بعدم استخدام موقع سكاي نيوز عربية بأي شكل من الأشكال التي تؤدي إلى تخريب أو تتجاوز قدرة تحمل أجهزة الخادم (سيرفر) لدينا أو أي شبكة مرتبطة بأي من خوادمنا. كما يجب أن تمتنع عن استخدام موقع سكاي نيوز عربية بأي شكل من الأشكال يؤدي، أو قد يؤدي منطقيا، بالتدخل في استخدام أي طرف آخر لموقع سكاي نيوز عربية على نحو يخالف، أو من المحتمل أن يخالف، أي قوانين مرعية ومطبقة، أو حقوق أو استحقاقات قانونية لأي طرف آخر وذلك طبقا لكافة القوانين المرعية والمطبقة.
        </div>
        <div class="termsAndConditions-foot p-15 d-flex justify-content-end">
            <button class="background-blue w-100 color-white b-r-4 button-action ml-2 mr-2 f-s-16"
            (click)="request()">{{submitted ?
            (data!['buttonSend']|translate) : ('dialogs.loading'|translate)}}</button>
            <button class="background-blue w-100 color-white b-r-4 button-action ml-2 mr-2 f-s-16"
            (click)="close()">رفض</button>
        </div>
    </div>
    <!-- <footer class="footer-dialog p-15 d-flex justify-content-end">
      <button class="background-blue w-100 color-white b-r-4 button-action ml-2 mr-2 f-s-16"
        (click)="request()">{{submitted ?
        (data!['buttonSend']|translate) : ('dialogs.loading'|translate)}}</button>
    </footer> -->
  </div>
  <div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>