<div class="container-Dialog">
  <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
    <h3 class="title-Dialog m-0">
      معلومات الصلاحيات
    </h3>
    <button class="icon-close iconCloseDialog" type="button" (click)="close()">
      <i class="pi pi-times-circle"></i>
    </button>
  </header>
  <div class="body-dialog p-15 f-s-16">
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">تعيين كنشط</label>
      <div class="content-password">
        {{info?.isActive ? 'نشط' : 'غير نشط'}}
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">لي نوع</label>
      <div class="content-password">
        {{info?.forType ===0 ? 'صلاحية' : 'مستخدم'}}
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">نوع الصلاحية</label>
      <div class="content-password">
        {{info?.forTypeName ? info?.forTypeName : "لا يوجد"}}
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow" *ngIf="info?.userName != null">
      <label class="title">اسم المستخدم</label>
      <div class="content-password">
        {{info?.userName ? info?.userName : "لا يوجد"}}
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow" *ngIf="info?.roleName != null">
      <label class="title">اسم الصلاحية</label>
      <div class="content-password">
        {{info?.roleName ? info?.roleName : "لا يوجد"}}
      </div>

    </div>

  </div>
  <div class="table-basic">
    <p-table #dt1 [value]="permissions" id="tablePermission" [responsiveLayout]="opened ? 'stack' : 'scroll'"
      [responsive]="true" [paginator]="false" [rows]="itemsPerPage" [first]="page" [rows]="10"
      [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Total {totalRecords} items" [globalFilterFields]="[
              'orderNumber',
              'employeeName.name',
              'typeOfRequest',
              'date',
              'time' ]">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let column of columns">
            {{ column.name }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr *ngIf="!isLoading">
          <ng-container *ngFor="let column of columns">
            <ng-container *ngIf="column.field == 'screenName'">
              <td>
                <span class="p-column-title">
                  {{column.name}}
                </span>
                {{ rowData[column.field] }}
              </td>
            </ng-container>
            <ng-container *ngIf="column.field == 'permissionScreenActions'">
              <td>
                <span class="p-column-title">
                  {{column.name}}
                </span>

                <div class="cardsPermission">
                  <ng-container *ngIf="rowData.permissionScreenActions.length > 0">
                    <ng-container *ngFor="let per of rowData.permissionScreenActions">
                      <span class="itemPermission">{{per}}</span>
                    </ng-container>
                  </ng-container>

                </div>

              </td>
            </ng-container>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr *ngIf="isLoading ===false">
          <td colspan="6">
            <div class="container-empty-data w-100 d-flex justify-content-center align-items-center">
              <svg width="65" height="40" viewBox="0 0 65 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1920_5847)">
                  <rect width="64" height="40" transform="translate(0.5)" fill="white" fill-opacity="0.01" />
                  <path
                    d="M32.5 39.7047C50.1731 39.7047 64.5 36.5939 64.5 32.7566C64.5 28.9193 50.1731 25.8086 32.5 25.8086C14.8269 25.8086 0.5 28.9193 0.5 32.7566C0.5 36.5939 14.8269 39.7047 32.5 39.7047Z"
                    fill="#F5F5F5" />
                  <path
                    d="M55.5 13.6653L45.354 2.24866C44.867 1.47048 44.156 1 43.407 1H21.593C20.844 1 20.133 1.47048 19.646 2.24767L9.5 13.6663V22.8367H55.5V13.6653Z"
                    stroke="#CED4DA" />
                  <path
                    d="M42.113 16.8116C42.113 15.2185 43.107 13.9033 44.34 13.9023H55.5V31.9047C55.5 34.0119 54.18 35.739 52.55 35.739H12.45C10.82 35.739 9.5 34.011 9.5 31.9047V13.9023H20.66C21.893 13.9023 22.887 15.2155 22.887 16.8086V16.8304C22.887 18.4235 23.892 19.7099 25.124 19.7099H39.876C41.108 19.7099 42.113 18.4116 42.113 16.8185V16.8116Z"
                    fill="#FAFAFA" stroke="#CED4DA" />
                </g>
                <defs>
                  <clipPath id="clip0_1920_5847">
                    <rect width="64" height="40" fill="white" transform="translate(0.5)" />
                  </clipPath>
                </defs>
              </svg>
              <span class="empty-table f-s-16">No Data</span>
            </div>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>
<div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>