<div class="container-Dialog">
  <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
    <h3 class="title-Dialog m-0">
      {{data!['title']|translate}}

    </h3>
    <button class="icon-close iconCloseFilteration iconCloseDialog" type="button" (click)="close()">
      <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
      <i class="pi pi-times-circle"></i>
    </button>
  </header>
  <div class="body-dialog p-15 f-s-16">
    <form [formGroup]="addBranchGroupForm">
      <ng-container *ngIf="editShift">
        <div class="field-disabled mb-3 readOnly">
          <label for="" class="label-input mb-2" [innerHTML]="data!['titleFieldDisabled']|translate"></label>
          <div class="content-password">
            <input type="text" pInputText formControlName="fieldDisabled" [readOnly]="true"
              [placeholder]="data!['placeholdeieldDisabled']|translate" class="w-100" />
          </div>
        </div>
      </ng-container>


      <div class="sectionFive mb-3">
        <label for="" class="label-input mb-2" [innerHTML]="data!['titleShift']|translate"></label>
        <div class="content-password">
          <input type="text" pInputText formControlName="name" [placeholder]="data!['placeholdeShift']|translate"
            class="w-100" />
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('name')?.errors">
          <div class="alert alert-danger" *ngIf="getControl('name')?.hasError('required') && getControl('name')?.dirty">
            {{data!['validationtitleShift']|translate}}
          </div>
        </div>
        <!--End Custom Validators-->
      </div>


      <div class="sectionThree mb-3">
        <label class="title" [innerHTML]="data!['entryTime']|translate"></label>
        <div class="content-password">
          <div class="content-pCalendar-default" dir="ltr">
            <p-calendar appendTo="body" formControlName="checkInTime" [timeOnly]="true" hourFormat="12" [inline]="false"
              [placeholder]="data!['placeholderEntryTime']|translate" [showIcon]="true"
              icon="pi pi-clock">></p-calendar>
          </div>
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('checkInTime')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('checkInTime')?.hasError('required') && getControl('checkInTime')?.dirty">
            {{data!['validationEntryTime']|translate}}
          </div>
        </div>
        <!--End Custom Validators-->
      </div>
      <div class="sectionThree mb-3">
        <label class="title" [innerHTML]="data!['titletimeToGoOut']|translate"></label>
        <div class="content-password">
          <div class="content-pCalendar-default" dir="ltr">
            <p-calendar appendTo="body" formControlName="checkOutTime" [timeOnly]="true" hourFormat="12"
              [inline]="false" [placeholder]="data!['placeholdertimeToGoOut']|translate" [showIcon]="true"
              icon="pi pi-clock">></p-calendar>
          </div>
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('checkOutTime')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('checkOutTime')?.hasError('required') && getControl('checkOutTime')?.dirty">
            {{data!['validationToGoOut']|translate}}
          </div>
        </div>
        <!--End Custom Validators-->
      </div>
      <div class="sectionFive">
        <label for="" class="label-input mb-2" [innerHTML]="data!['extraMinutes']|translate"></label>
        <div class="content-password">
          <input type="number" pInputText formControlName="allowedMinutes"
            [placeholder]="data!['placeholdeExtraMinutes']|translate" class="w-100" />
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('allowedMinutes')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('allowedMinutes')?.hasError('required') && getControl('allowedMinutes')?.dirty">
            {{data!['validationtitleExtraMinutes']|translate}}
          </div>
        </div>
        <!--End Custom Validators-->

      </div>
    </form>
  </div>
  <footer class="footer-dialog p-15 d-flex justify-content-end">
    <button class="background-blue w-100 color-white b-r-4 button-action ml-2 mr-2 f-s-16"
      (click)="request()">{{submitted ?
      (data!['buttonSend']|translate) : ('dialogs.loading'|translate)}}</button>
    <button class="btn-outline-primary w-100 ml-2  b-r-4 button-action-two ml-2 mr-2 f-s-16"
      (click)="close()">{{data!['titleClose']|translate}}</button>
  </footer>
</div>
<div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>