<div class="container-Dialog">
    <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
      <h3 class="title-Dialog m-0">
        {{data!['title']|translate}}
      </h3>
      <button class="icon-close iconCloseDialog" type="button" (click)="close()">
        <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
        <i class="pi pi-times-circle"></i>
      </button>
    </header>
    <div class="body-dialog p-15 f-s-16">
      <!-- <div class="sectionTwo mb-3 line-bellow">
        <label class="title">الرقم الوظيفي</label>
        <div class="content-password">
          {{info?.employeeNumber ? info?.employeeNumber : "لا يوجد"}}
        </div>
  
      </div> -->
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">{{"employees.employeeName"|translate}}</label>
        <div class="content-password">
          <ng-container *ngIf="info?.employeeName">
            {{info?.employeeName}}
          </ng-container>
          <ng-container *ngIf="!info?.employeeName">
            {{"department.nothing"|translate}}
          </ng-container>
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">{{"requests.theDate"|translate}}</label>
        <div class="content-password">
          <ng-container *ngIf="info?.date">
            {{info?.date}}
          </ng-container>
          <ng-container *ngIf="!info?.date">
            {{"department.nothing"|translate}}
          </ng-container>
        </div>
      </div>
   
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">{{"department.timeAttendance"|translate}}</label>
        <div class="content-password">

          <ng-container *ngIf="info?.checkInDateTime">
            {{info?.checkInDateTime}}
          </ng-container>
          <ng-container *ngIf="!info?.checkInDateTime">
            {{"department.nothing"|translate}}
          </ng-container>
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">{{"department.timeToGoOut"|translate}}</label>
        <div class="content-password">
          <ng-container *ngIf="info?.checkOutDateTime">
            {{info?.checkOutDateTime}}
          </ng-container>
          <ng-container *ngIf="!info?.checkOutDateTime">
            {{"department.nothing"|translate}}
          </ng-container>
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">{{"department.theCondition"|translate}}</label>
        <div class="content-password">
          <ng-container *ngIf="info?.status">
            {{info?.status}}
          </ng-container>
          <ng-container *ngIf="!info?.status">
            {{"department.nothing"|translate}}
          </ng-container>
        </div>
      </div>
      <!-- <div class="sectionTwo mb-3 line-bellow">
        <label class="title">{{"department.theDifference"|translate}}</label>
        <div class="content-password">
          <ng-container *ngIf="info?.workingHours">
            {{info?.workingHours}}
          </ng-container>
          <ng-container *ngIf="!info?.workingHours">
            {{"department.nothing"|translate}}
          </ng-container>
        </div>
      </div> -->
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">التأخير</label>
        <div class="content-password">
          <ng-container *ngIf="info?.lateArrivals">
            {{info?.lateArrivals}}
          </ng-container>
          <ng-container *ngIf="!info?.lateArrivals">
            {{"department.nothing"|translate}}
          </ng-container>
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">الانصراف مبكرا</label>
        <div class="content-password">
          <ng-container *ngIf="info?.earlyDepartures">
            {{info?.earlyDepartures}}
          </ng-container>
          <ng-container *ngIf="!info?.earlyDepartures">
            {{"department.nothing"|translate}}
          </ng-container>
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">ساعات العمل</label>
        <div class="content-password">
          <ng-container *ngIf="info?.workingHours">
            {{info?.workingHours}}
          </ng-container>
          <ng-container *ngIf="!info?.workingHours">
            {{"department.nothing"|translate}}
          </ng-container>
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">الوقت الإضافي</label>
        <div class="content-password">
          <ng-container *ngIf="info?.overTime">
            {{info?.overTime}}
          </ng-container>
          <ng-container *ngIf="!info?.overTime">
            {{"department.nothing"|translate}}
          </ng-container>
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">{{"department.fingerprint"|translate}}</label>
        <ng-container *ngFor="let finger of info?.fingerprints">
            <div class="content-password content-fingerprint">
                <span class="d-block">{{"department.howToIdentify"|translate}} {{finger?.recognitionWay ? finger?.recognitionWay : "لا يوجد"}}</span>
                <span class="d-block">{{"department.theTime"|translate}} {{finger?.time ? finger?.time : "لا يوجد"}}</span>
                <span class="d-block">{{"department.type"|translate}} {{finger?.type ? finger?.type : "لا يوجد"}}</span>
                <span class="d-block">{{"department.fingerprintLocation"|translate}} {{finger?.zoneName ? finger?.zoneName : "لا يوجد"}}</span>
                <span class="d-block">{{"department.fingerprintSource"|translate}} {{finger?.fingerprintSource ? finger?.fingerprintSource : "لا يوجد"}}</span>

              </div>
        </ng-container>
        <ng-container *ngIf="info?.fingerprints?.length ===0">
            <div class="content-password">{{"department.nothing"|translate}}</div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>