<div class="header-comp d-flex align-items-center">
  <span class="title-head">
    ملخص التبريرات
  </span>
  <div class="field-calendar-header">
    <p-calendar [(ngModel)]="date" [showIcon]="true" dateFormat="yy MM"></p-calendar>

  </div>
</div>
<div class="cards-dashboard position-relative">
  <div class="row" *ngIf="cards?.totalJustificationsCount">
    <div class="content-card cardHead col-xl-3 col-sm-6 col-12">
      <div class="custom-card-dashboard">
        <span class="title-card-dashboard Primary-700">إجمالي التبريرات</span>
        <div class="body-card-dashboard d-flex align-items-center justify-content-between">
          <span class="number-card-dashboard">{{cards?.totalJustificationsCount}}</span>
          <span class="icon-card-dashboard">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="65" viewBox="0 0 64 65" fill="none">
              <g opacity="0.2">
                <path
                  d="M18.5601 5.47833C19.6735 5.47833 20.5761 6.30488 20.5761 7.32449V11.0486C22.3643 11.0168 24.3687 11.0168 26.624 11.0168H37.3759C39.6312 11.0168 41.6356 11.0168 43.4239 11.0486V7.32449C43.4239 6.30488 44.3264 5.47833 45.4398 5.47833C46.5532 5.47833 47.4558 6.30488 47.4558 7.32449V11.2119C51.3247 11.4956 53.8646 12.1919 55.7305 13.9007C57.5965 15.6095 58.3568 17.9354 58.6667 21.4783V24.145H5.33331V21.4783C5.64312 17.9354 6.40344 15.6095 8.26943 13.9007C10.1354 12.1919 12.6753 11.4956 16.5442 11.2119V7.32449C16.5442 6.30488 17.4467 5.47833 18.5601 5.47833Z"
                  fill="#2364C0" />
                <path opacity="0.5"
                  d="M58.6666 37.4784V32.145C58.6666 29.9076 58.6328 25.9191 58.5984 24.145H5.34893C5.31454 25.9191 5.34835 29.9076 5.34835 32.145V37.4784C5.34835 47.535 5.34835 52.5633 8.47167 55.6875C11.595 58.8117 16.6219 58.8117 26.6757 58.8117H37.3393C47.3931 58.8117 52.42 58.8117 55.5433 55.6875C58.6666 52.5633 58.6666 47.535 58.6666 37.4784Z"
                  fill="#2364C0" />
                <path
                  d="M48 44.145C48 46.3542 46.2091 48.145 44 48.145C41.7909 48.145 40 46.3542 40 44.145C40 41.9359 41.7909 40.145 44 40.145C46.2091 40.145 48 41.9359 48 44.145Z"
                  fill="#2364C0" />
              </g>
            </svg>
          </span>
        </div>
      </div>
    </div>
    <div class="content-card cardHead col-xl-3 col-sm-6 col-12">
      <div class="custom-card-dashboard">
        <span class="title-card-dashboard Warning-700 ">التبريرات المنتظرة</span>
        <div class="body-card-dashboard d-flex align-items-center justify-content-between">
          <span class="number-card-dashboard">{{cards?.pendingCount}}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="65" viewBox="0 0 64 65" fill="none">
            <g opacity="0.2">
              <path opacity="0.4"
                d="M31.9999 58.8117C46.7275 58.8117 58.6666 46.8726 58.6666 32.145C58.6666 17.4174 46.7275 5.47833 31.9999 5.47833C17.2723 5.47833 5.33325 17.4174 5.33325 32.145C5.33325 46.8726 17.2723 58.8117 31.9999 58.8117Z"
                fill="#F59E0B" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M32 19.4783C33.1046 19.4783 34 20.3738 34 21.4783V31.3166L40.0809 37.3975C40.8619 38.1785 40.8619 39.4448 40.0809 40.2259C39.2998 41.0069 38.0335 41.0069 37.2525 40.2259L30.5858 33.5592C30.2107 33.1841 30 32.6754 30 32.145V21.4783C30 20.3738 30.8954 19.4783 32 19.4783Z"
                fill="#F59E0B" />
            </g>
          </svg>
        </div>
      </div>
    </div>
    <div class="content-card cardHead col-xl-3 col-sm-6 col-12">
      <div class="custom-card-dashboard">
        <span class="title-card-dashboard Success-700">التبريرات المقبولة</span>
        <div class="body-card-dashboard d-flex align-items-center justify-content-between">
          <span class="number-card-dashboard">{{cards?.acceptedCount}}</span>
          <span class="icon-card-dashboard">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="65" viewBox="0 0 64 65" fill="none">
              <g opacity="0.2">
                <path opacity="0.4"
                  d="M42.6661 5.97837L39.9994 5.97837C32.4569 5.97837 28.6869 5.97898 26.3438 8.32212C24.0006 10.6653 24.0006 14.4365 24.0006 21.979L24.0006 43.3123C24.0006 50.8548 24.0006 54.626 26.3438 56.9692C28.6863 59.3117 32.455 59.3117 39.9936 59.3117L39.9994 59.3117L42.6661 59.3117C50.2085 59.3117 53.9798 59.3117 56.3229 56.9686C58.6661 54.6254 58.6661 50.8542 58.6661 43.3117L58.6661 21.9784L58.6661 21.9783C58.6661 14.4359 58.6661 10.6647 56.3229 8.32152C53.9798 5.97837 50.2086 5.97837 42.6661 5.97837Z"
                  fill="#059669" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M3.33594 32.6424C3.33594 31.5379 4.23137 30.6424 5.33594 30.6424L37.2628 30.6424L32.0344 26.1609C31.1957 25.4421 31.0986 24.1795 31.8174 23.3408C32.5363 22.5022 33.7989 22.4051 34.6375 23.1239L43.9709 31.1239C44.4141 31.5039 44.6693 32.0586 44.6693 32.6424C44.6693 33.2263 44.4141 33.781 43.9709 34.1609L34.6375 42.1609C33.7989 42.8798 32.5363 42.7827 31.8174 41.944C31.0986 41.1053 31.1957 39.8427 32.0344 39.1239L37.2628 34.6424L5.33594 34.6424C4.23137 34.6424 3.33594 33.747 3.33594 32.6424Z"
                  fill="#059669" />
              </g>
            </svg>
          </span>
        </div>
      </div>
    </div>
    <div class="content-card cardHead col-xl-3 col-sm-6 col-12">
      <div class="custom-card-dashboard">
        <span class="title-card-dashboard Error-700">التبريرات المرفوضة</span>
        <div class="body-card-dashboard d-flex align-items-center justify-content-between">
          <span class="number-card-dashboard">{{cards?.rejectedCount}}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 65 65" fill="none">
            <g opacity="0.2">
              <path opacity="0.5"
                d="M32.25 58.8117C19.6793 58.8117 13.3939 58.8117 9.48862 54.9064C5.58337 51.0012 5.58337 44.7158 5.58337 32.145C5.58337 19.5742 5.58337 13.2888 9.48862 9.38358C13.3939 5.47833 19.6793 5.47833 32.25 5.47833C44.8208 5.47833 51.1062 5.47833 55.0115 9.38358C58.9167 13.2888 58.9167 19.5742 58.9167 32.145C58.9167 44.7158 58.9167 51.0012 55.0115 54.9064C51.1062 58.8117 44.8208 58.8117 32.25 58.8117Z"
                fill="#D21C1C" />
              <path
                d="M24.1692 24.0641C24.9502 23.2831 26.2165 23.2831 26.9976 24.0641L32.2501 29.3166L37.5025 24.0642C38.2835 23.2831 39.5499 23.2831 40.3309 24.0642C41.112 24.8452 41.112 26.1116 40.3309 26.8926L35.0785 32.145L40.3309 37.3974C41.1119 38.1784 41.1119 39.4448 40.3309 40.2258C39.5498 41.0069 38.2835 41.0069 37.5024 40.2258L32.2501 34.9735L26.9976 40.2259C26.2166 41.0069 24.9503 41.0069 24.1692 40.2259C23.3882 39.4448 23.3882 38.1785 24.1692 37.3974L29.4216 32.145L24.1692 26.8925C23.3881 26.1115 23.3881 24.8452 24.1692 24.0641Z"
                fill="#D21C1C" />
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="spinner spinner-cards d-flex justify-content-center align-items-center" *ngIf="spinnerCards">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="table-basic">
  <!-- <div class="header-table-basic">
    <span class="title-table-basic">سجل الطلبات</span>
    <div class="actions-table-basic">

    </div>
  </div> -->
  <p-table #dt1 [value]="justifications" id="tableJustification" [responsiveLayout]="opened ? 'stack' : 'scroll'"
    [responsive]="true" [paginator]="false" [rows]="itemsPerPage" [first]="page" [rows]="10"
    [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Total {totalRecords} items" [globalFilterFields]="[
              'orderNumber',
              'employeeName.name',
              'typeOfRequest',
              'date',
              'time' ]">
    <ng-template pTemplate="caption">
      <div class="custom-header-table d-flex justify-content-between align-items-center">
        <h2 class="title-table m-0">
          الحضور والانصراف
          <!-- <span class="subTitlte ml-2">(30 FLS )</span> -->
        </h2>
        <div class="custom-filteration d-flex align-items-center">
          <!-- <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search" (click)="searchKeyword(search.value)"></i>
            <input pInputText type="text" #search (input)="dt1.filterGlobal(search.value, 'contains')"
              placeholder="Search..." />
          </span> -->
          <!-- <button (click)="op.toggle($event)" class="btn btn-outline-primary action-button-t d-flex align-items-center">
            <i class="pi pi-filter-fill"></i>

            <span>تصفية النتائج</span>
          </button> -->
          <div class="container-filteration">
            <!-- <p-overlayPanel #op>
              <header class="header-filter d-flex justify-content-center align-items-center p-15 position-relative">
                <h3 class="title-filteration m-0">
                  تصفية النتائج

                </h3>
                <button class="icon-close iconCloseDialog iconCloseFilteration" type="button" (click)="op.hide()">
                  <i class="pi pi-times-circle"></i>
                </button>
              </header>
              <form [formGroup]="filterForm" class="formFilteration">

                <div class="section-radios mb-3">
                  <label class="title">نوع التبرير</label>

                  <div class="container-radio-button">
                    <mat-radio-group aria-label="Select an option" color="primary" formControlName="frstRadios">
                      <mat-radio-button value="first">كل التبريرات
                      </mat-radio-button>
                      <mat-radio-button value="second">تبريرات حضور</mat-radio-button>
                      <mat-radio-button value="second">تبريرات انصراف</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="sectionFive mb-3">
                  <label for="" class="label-input mb-2">رقم الموظف</label>
                  <div class="content-password">
                    <input type="text" pInputText placeholder="رقم الموظف" class="w-100" />
                  </div>

                </div>
                <div class="sectionFive mb-3">
                  <label for="" class="label-input mb-2">اسم الموظف</label>
                  <div class="content-password">
                    <input type="text" pInputText placeholder="اسم الموظف" class="w-100" />
                  </div>

                </div>

                <div class="sectionThree mb-3">
                  <label class="title mb-2">التاريخ</label>
                  <div class="content-password">
                    <div class="content-pCalendar-default" dir="ltr">
                      <p-calendar appendTo="body" placeholder="اختار التاريخ" [showIcon]="true"></p-calendar>
                    </div>
                  </div>

                </div>

                <div class="footer-filter">
                  <button class="background-blue w-100 color-white b-r-4 button-action ml-2 mr-2 f-s-16">تصفية
                    النتائج</button>

                  <button class="btn-outline-primary w-100 ml-2  b-r-4 button-action-two ml-2 mr-2 f-s-16"
                    type="button">إعادة
                    ضبط</button>
                </div>
              </form>

            </p-overlayPanel> -->
            <!-- <button class="btn btn-primary action-button-t d-flex align-items-center" (click)="requestJustification()">
              <i class="pi bi-plus-circle-fill"></i>

              <span>إضافة تبرير</span>
            </button> -->
            <!--
            <button (click)="op.toggle($event)" class="btn button-filter-table">

              <i class="bi bi-filter"></i>
            </button> -->
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let column of columns">
          {{ column.name }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr *ngIf="!isLoading">
        <!-- <ng-container *ngFor="
                    let customer of customers
                      | paginate
                        : {
                            id: 'some_id',
                            itemsPerPage: itemsPerPage,
                            currentPage: filteration.page,
                            totalItems: totalItems
                          }
                  "></ng-container> -->
        <ng-container *ngFor="let column of columns">
          <!-- <td  *ngIf="column.field == 'flsName'">
                                  <ng-container *ngIf="rowData[column.field][column.fieldTwo]">
                                    {{ rowData[column.field][column.fieldTwo] }}
                                  </ng-container>
                                  <ng-container *ngIf="!rowData[column.field][column.fieldTwo] ">
                                    No Data
                                  </ng-container>

                                </td> -->
          <ng-container *ngIf="column.field != 'employeeName' && column.field != 'actions'">
            <td>
              <span class="p-column-title">
                {{column.name}}
              </span>
              {{ rowData[column.field] }}
            </td>
          </ng-container>
          <td *ngIf="column.field === 'employeeName'">
            <span class="p-column-title">
              {{column.name}}
            </span>
            <span>
              <img [src]="rowData[column.field]['img']" width="32" height="32" [alt]="rowData[column.field]['alt']">

              {{ rowData[column.field]['name'] }}
            </span>

          </td>

          <td *ngIf="column.field === 'actions'">
            <span class="p-column-title">
              {{column.name}}
            </span>
            <div class="action-body-td">
              <button type="button" (click)="sendRequest(rowData)"
                class="btn btn-outline-secondary action-accept color-green"><i class="bi bi-check-circle"></i></button>
              <button type="button" (click)="reasonOfRefuse(rowData)"
                class="btn btn-outline-secondary action-close color-red"><i class="bi bi-x-circle"></i></button>



            </div>
          </td>

          <!-- <td *ngIf="column.field != 'FLSname'&&column.field != 'Branchname' ">
                                  <span class="first-number number-currency"
                                      [class.invalidNumber]="rowData[column.field].first > (rowData[column.field].second * 90) / 100">{{rowData[column.field].first
                                      | number:'1.0-0'}}</span>/
                                  <span class="second-number number-currency">{{rowData[column.field].second |
                                      number:'1.0-0'}}</span>
                                  <i class="bi bi-info-circle-fill color-red-icon ml-2"
                                      *ngIf="rowData[column.field].first > (rowData[column.field].second * 90) / 100"></i>


                              </td> -->

        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr *ngIf="isLoading ===false">
        <td colspan="6">
          <div class="container-empty-data w-100 d-flex justify-content-center align-items-center">
            <svg width="65" height="40" viewBox="0 0 65 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1920_5847)">
                <rect width="64" height="40" transform="translate(0.5)" fill="white" fill-opacity="0.01" />
                <path
                  d="M32.5 39.7047C50.1731 39.7047 64.5 36.5939 64.5 32.7566C64.5 28.9193 50.1731 25.8086 32.5 25.8086C14.8269 25.8086 0.5 28.9193 0.5 32.7566C0.5 36.5939 14.8269 39.7047 32.5 39.7047Z"
                  fill="#F5F5F5" />
                <path
                  d="M55.5 13.6653L45.354 2.24866C44.867 1.47048 44.156 1 43.407 1H21.593C20.844 1 20.133 1.47048 19.646 2.24767L9.5 13.6663V22.8367H55.5V13.6653Z"
                  stroke="#CED4DA" />
                <path
                  d="M42.113 16.8116C42.113 15.2185 43.107 13.9033 44.34 13.9023H55.5V31.9047C55.5 34.0119 54.18 35.739 52.55 35.739H12.45C10.82 35.739 9.5 34.011 9.5 31.9047V13.9023H20.66C21.893 13.9023 22.887 15.2155 22.887 16.8086V16.8304C22.887 18.4235 23.892 19.7099 25.124 19.7099H39.876C41.108 19.7099 42.113 18.4116 42.113 16.8185V16.8116Z"
                  fill="#FAFAFA" stroke="#CED4DA" />
              </g>
              <defs>
                <clipPath id="clip0_1920_5847">
                  <rect width="64" height="40" fill="white" transform="translate(0.5)" />
                </clipPath>
              </defs>
            </svg>
            <span class="empty-table f-s-16">No Data</span>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr *ngIf="isLoading">
        <td colspan="7">
          <div class="spinner d-flex justify-content-center align-items-center">
            <mat-spinner></mat-spinner>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="7">
          <div class="paginate d-flex align-items-center justify-content-end">
            <div class="NumberOfRowsPerPage">
              <span>عدد الصفوف بالصفحة:</span>
              <p-dropdown [options]="RowsPerPage" appendTo="body" (onChange)="numberOfRowsPerPage($event)"
                optionLabel="name"></p-dropdown>

            </div>
            <div class="text-paginator d-flex align-items-center">
              {{mathRound(totalItems / filteration.PageSize)}} - {{filteration.PageNumber + 1}}

            </div>
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
              [totalRecords]="10"></p-paginator>

          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
