@media (max-width:520px) {

  :host ::ng-deep .table-basic #tableJustification .p-datatable-tfoot>tr>td {
    display: block !important;
  }
}

:host ::ng-deep .p-datatable .p-datatable-thead>tr>th:last-of-type {
  width: 13% !important;
}

.btn-primary {
  font-family: 'Cairo' !important;
}

// #tableJustification {
//   word-wrap: normal;
//   text-transform: revert-layer;
//   font-family: "Cairo" !important;
//   cursor: pointer;
//   align-items: center !important;
//   text-align: center;
//   text-decoration: none;
//   vertical-align: middle;
//   -webkit-appearance: button;
//   overflow: visible;
//   touch-action: manipulation;
//   direction: rtl;
// }