<div class="container-Dialog">
  <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
    <h3 class="title-Dialog m-0">
      {{data!['title']|translate}}
    </h3>
    <button class="icon-close iconCloseDialog" type="button" (click)="close()">
      <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
      <i class="pi pi-times-circle"></i>
    </button>
  </header>
  <div class="body-dialog p-15 f-s-16">
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title"> {{'employees.setAsActive' | translate}}</label>
      <div class="content-password">
        <span class="d-clock">
          <ng-container *ngIf="info?.isActive">{{'employees.active' | translate}}</ng-container>
          <ng-container *ngIf="!info?.isActive">{{'employees.Inactive' | translate}}</ng-container>

        </span>

      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">السماح ببصمة الإصبع خارج المناطق المسموح بها</label>
      <div class="content-password">
        {{info?.allowFingerprintOutsideAllowedZones ? "نعم" : "لا"}}
      </div>

    </div>
    
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{'sections.departmentCode' | translate}}</label>
      <div class="content-password">
        <ng-container *ngIf="info?.code">{{info?.code}}</ng-container>
        <ng-container *ngIf="!info?.code">{{'employees.Inactive' | translate}}</ng-container>

      </div>

    </div>

    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{'vacationBalance.departmentName' | translate}}</label>
      <div class="content-password">
        <ng-container *ngIf="info?.name">{{info?.name}}</ng-container>
        <ng-container *ngIf="!info?.name">{{'employees.Inactive' | translate}}</ng-container>
      </div>

    </div>

    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{'sections.hisDepartment' | translate}}</label>
      <div class="content-password">
        <ng-container *ngIf="info?.parentName">{{info?.parentName}}</ng-container>
        <ng-container *ngIf="!info?.parentName">{{'employees.Inactive' | translate}}</ng-container>
      </div>

    </div>

    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{'sections.departmentManager' | translate}}</label>
      <div class="content-password">
        <ng-container *ngIf="info?.manager">{{info?.manager}}</ng-container>
        <ng-container *ngIf="!info?.manager">{{'employees.Inactive' | translate}}</ng-container>
      </div>

    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{'sections.deputyHeadsOfDepartment' | translate}}</label>
      <div class="content-password">
        <ng-container *ngFor="let delegator of info?.managerDelegators">
          <span class="d-block mb-2">
            {{info?.delegator}}
          </span>
        </ng-container>
        <ng-container *ngIf="!info?.managerDelegators?.length">{{'employees.Inactive' | translate}}</ng-container>

      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{'sideNav.zones' | translate}}</label>
      <div class="content-password">
        <ng-container *ngFor="let zone of info?.zones">
          <span class="d-block mb-2">
            {{info?.zone}}
          </span>
        </ng-container>
        <ng-container *ngIf="!info?.zones?.length">{{'employees.Inactive' | translate}}</ng-container>

      </div>
    </div>
    <div class="sectionTwo mb-3 line-bellow">
      <label class="title">{{'justifications.notes' | translate}}</label>
      <div class="content-password">
        <ng-container *ngIf="info?.notes">{{info?.notes}}</ng-container>
            <ng-container *ngIf="!info?.notes">{{'employees.Inactive' | translate}}</ng-container>

      </div>
    </div>

  </div>

</div>

<div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>