<div class="container-Dialog">
  <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
    <h3 class="title-Dialog m-0">
      {{data!['title']|translate}}

    </h3>
    <button class="icon-close iconCloseDialog" type="button" (click)="close()">
      <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
      <i class="pi pi-times-circle"></i>
    </button>
  </header>
  <div class="body-dialog p-15 f-s-16">
    <form [formGroup]="addBranchGroupForm">
      <div class="section1 d-flex justify-content-between">
        <div class="col">
          <label class="title">{{data!['setAsNecessary']|translate}}</label>
          <p-inputSwitch formControlName="IsNecessary"></p-inputSwitch>
        </div>
        <div class="col">
          <label class="title">{{data!['labelRadioButton']|translate}}</label>

          <div class="container-radio-button">
            <mat-radio-group aria-label="Select an option" color="primary" formControlName="radioButtons">
              <mat-radio-button value="false">{{data!['firstRadio']|translate}}
              </mat-radio-button>
              <mat-radio-button value="true">{{data!['secondRadio']|translate}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

      </div>
      <div class="sectionTwo mb-3" *ngIf="toggleForEmployee">
        <label class="title" [innerHTML]="data!['titleEmployeeId']|translate"></label>
        <div class="content-password">
          <p-dropdown appendTo="body" formControlName="EmployeeId" [options]="listEmployees"
            [placeholder]="data!['placeholderEmployeeId']|translate" optionLabel="name">
            <ng-template pTemplate="header">
              <span class="p-input-icon-left input-search-dropdown">
                <i class="pi pi-search" (click)="searchDropdown(searchEmployeeId.value, 'EmployeeId')"></i>
                <input type="text" [placeholder]="'requests.search' | translate" pInputText #searchEmployeeId />
              </span>
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{ option.name }}
            </ng-template>
          </p-dropdown>
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('EmployeeId')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('EmployeeId')?.hasError('required') && getControl('EmployeeId')?.dirty">
            {{data!['EmployeeIdValidation']|translate}}
          </div>
        </div>
        <!--End Custom Validators-->
      </div>
      <div class="sectionTwo mb-3">
        <label class="title">نوع مهمه العمل <span class="color-red">*</span></label>
        <div class="content-password">
          <p-dropdown appendTo="body" formControlName="TaskTypeId" [options]="list"
            [placeholder]="data!['placeholderDropdown']|translate" optionLabel="name">
            <ng-template pTemplate="header">
              <span class="p-input-icon-left input-search-dropdown">

                <i class="pi pi-search" (click)="searchDropdown(searchTaskTypeId.value, 'TaskTypeId')"></i>
                <input type="text" [placeholder]="'requests.search' | translate" pInputText #searchTaskTypeId />
              </span>
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{ option.name }}
            </ng-template>
          </p-dropdown>
        </div>
        <!--Start Custom Validators-->
        <div class="container-alerts mt-2" *ngIf="getControl('TaskTypeId')?.errors">
          <div class="alert alert-danger"
            *ngIf="getControl('TaskTypeId')?.hasError('required') && getControl('TaskTypeId')?.dirty">
            {{data!['TaskTypeIdValidation']|translate}}
          </div>
        </div>
        <!--End Custom Validators-->
      </div>

      <div class="col-12  mb-3">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="sectionThree">
              <label class="title">تاريخ مهمه العمل <span class="color-red">*</span></label>
              <div class="content-password">
                <div class="content-pCalendar-default" dir="ltr">
                  <p-calendar formControlName="dateTask" appendTo="body" selectionMode="range"
                    placeholder="تاريخ مهمه العمل" [showIcon]="true"></p-calendar>
                </div>
              </div>
              <!--Start Custom Validators-->
              <div class="container-alerts mt-2" *ngIf="getControl('dateTask')?.errors">
                <div class="alert alert-danger"
                  *ngIf="getControl('dateTask')?.hasError('required') && getControl('dateTask')?.dirty">
                  {{data!['dateTaskValidation']|translate}}
                </div>

              </div>
              <div class="container-alerts mt-2"
              *ngIf="dateTaskMultiple &&  !getControl('dateTask')?.hasError('required')">
              <div class="alert alert-danger">
                {{'tasks.multipleTaskHistory' | translate}}
              </div>

            </div>
              <!--End Custom Validators-->
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="sectionThree">
              <label class="title" >بداية وقت المهمة <span class="color-red">*</span></label>
              <div class="content-password">
                <div class="content-pCalendar-default" dir="ltr">
                  <p-calendar formControlName="timeStart" appendTo="body" [timeOnly]="true"
                    placeholder="بداية وقت المهمة" [showTime]="true" [showSeconds]="true" [showIcon]="true"></p-calendar>
                </div>
              </div>
              <!--Start Custom Validators-->
              <div class="container-alerts mt-2" *ngIf="getControl('timeStart')?.errors">
                <div class="alert alert-danger"
                  *ngIf="getControl('timeStart')?.hasError('required') && getControl('timeStart')?.dirty">
                  بداية وقت المهمة مطلوب
                </div>
              </div>
           
              <!--End Custom Validators-->
            </div>
          </div>
          <!-- <div class="col" *ngIf="toggleHistoryOfJustification">
            <div class="sectionThree">
              <label class="title" [innerHTML]="data!['timeAttendance']|translate"></label>
              <div class="content-password">
                <div class="content-pCalendar-default" dir="ltr">
                  <p-calendar appendTo="body" formControlName="timeAttendance" [timeOnly]="true" hourFormat="12"
                    [inline]="false" [placeholder]="data!['placeholdertimeAttendance']|translate" [showIcon]="true"
                    icon="pi pi-clock"></p-calendar>
                </div>
              </div>

            </div>
          </div> -->
        </div>
      </div>
      <div class="col-12  mb-3">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="sectionThree">
              <label class="title" >نهاية وقت المهمة <span class="color-red">*</span></label>
              <div class="content-password">
                <div class="content-pCalendar-default" dir="ltr">
                  <p-calendar formControlName="timeEnd" appendTo="body" [timeOnly]="true"
                    placeholder="نهاية وقت المهمة" [showTime]="true" [showSeconds]="true" [showIcon]="true"></p-calendar>
                </div>
              </div>
              <!--Start Custom Validators-->
              <div class="container-alerts mt-2" *ngIf="getControl('timeEnd')?.errors">
                <div class="alert alert-danger"
                  *ngIf="getControl('timeEnd')?.hasError('required') && getControl('timeEnd')?.dirty">
                  نهاية وقت المهمة مطلوب
                </div>
              </div>
              <!--End Custom Validators-->
            </div>
          </div>
        </div>
      </div>
      <div class="sectionTwo mb-3">
        <label class="title" [innerHTML]="data!['titleWorkTeam']|translate"></label>
        <div class="content-password multiSelect-workTeam">
          <p-multiSelect [options]="workTeamList" [filter]="false"
            [placeholder]="data!['placeholderWorkTeam']|translate" formControlName="TaskEmployeeIds" optionLabel="name">
            <ng-template pTemplate="header">
              <span class="p-input-icon-left input-search-dropdown">

                <i class="pi pi-search" (click)="searchDropdown(searchTaskEmployeeIds.value, 'TaskEmployeeIds')"></i>
                <input type="text" [placeholder]="'requests.search' | translate" pInputText #searchTaskEmployeeIds />
              </span>
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{ option.name }}
            </ng-template>
          </p-multiSelect>
        </div>
        <div class="container-alerts mt-2"  *ngIf="getControl('TaskEmployeeIds')?.errors" >
        <div class="alert alert-danger" *ngIf="getControl('TaskEmployeeIds')?.hasError('required') && getControl('TaskEmployeeIds')?.dirty">
          {{'tasks.staffRequired' | translate}}
        </div>
      </div>
      </div>
      <div class="section-workingDays mb-3">
        <label class="mb-2 d-block f-s-16">{{data!['uploadFile']|translate}}</label>
        <div class="item uploadFiles">
          <!-- accept="image/*" -->
          <p-fileUpload name="uploadedCommercialRegFiles[]" chooseIcon="pi pi-cloud-upload" [customUpload]="true"
            [chooseLabel]="data!['chooseLabel']|translate" accept="image/png, image/gif, image/jpeg, application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,.docx, application/vnd.openxmlformats-officedocument.wordprocessingml.document" (onSelect)="onFileChange($event, 2)" [multiple]="true"
            [showUploadButton]="false" [showCancelButton]="false">
            <ng-template pTemplate="content">

              <ul class="list-unstyled p-0" *ngIf="AttachmentsFiles.length">
                <li class="p-fileupload-row" *ngFor="let file of AttachmentsFiles; let i = index">
                  <div>
                    <img [src]="viewImagesIdCopy[i]" width="50" height="100" alt="">

                  </div>
                  <div class="p-fileupload-filename" [title]="file.fileUpload.name">
                    <span class="d-block">{{"employees.name"|translate}}:</span>
                    {{
                    file.fileUpload.name.length > 69 ? (file.fileUpload.name | slice:0:70) + '......' : file.fileUpload.name
                    }}
                  </div>
                  <div>
                    <span class="d-block">{{"employees.size"|translate}}:</span>
                    {{
                    file.fileUpload.size }}
                  </div>
                  <div>
                    <button class="p-element p-button p-component p-button-icon-only"
                      (click)="onRemoveCommercialReg(file.fileUpload)">
                      <span class="p-button-icon pi pi-times" aria-hidden="true">

                      </span>
                    </button>

                  </div>
                </li>
              </ul>
            </ng-template>
          </p-fileUpload>
          <span class="maximum-size">{{'employees.maximumFileSize' | translate}}</span>
        </div>
              <!--Start Custom Validators-->
              <div class="container-alerts mt-s-16">
                <div class="alert alert-danger mb-3" *ngIf="errorUploadFileIdCopy">
                    {{errorUploadFileIdCopy}}
                </div>
                <div class="alert alert-danger mb-3"
                    *ngIf="errorUploadFileIdCopyIsRequired && getControl('idCopyFile')?.dirty">
                    {{errorUploadFileIdCopyIsRequired}}
                </div>
              
            </div>
            <!--End Custom Validators-->
      </div>
      <div class="sectionFive">
        <label for="" class="label-input mb-2" [innerHTML]="data!['titleNotes']|translate"></label>
        <div class="content-password">
          <input type="text" pInputText formControlName="Notes" [placeholder]="data!['placeholdeNotes']|translate"
            class="w-100" />
        </div>

      </div>
    </form>
  </div>
  <footer class="footer-dialog p-15 d-flex justify-content-end">

    <button class="background-blue w-100 color-white b-r-4 button-action ml-2 mr-2 f-s-16"
      (click)="request()">{{submitted ?
      (data!['buttonSend']|translate) : ('dialogs.loading'|translate)}}</button>
  </footer>
</div>
<div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>