<div class="container-Dialog">
    <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
      <h3 class="title-Dialog m-0">
        {{data!['title']|translate}}
      </h3>
      <button class="icon-close iconCloseDialog" type="button" (click)="close()">
        <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
        <i class="pi pi-times-circle"></i>
      </button>
    </header>
    <div class="body-dialog p-15 f-s-16">
        <div class="sectionTwo mb-3 line-bellow">
            <label class="title">رقم الموظف</label>
            <div class="content-password">
              {{info?.code ? info?.code : "لا يوجد"}}
            </div>
          </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">اسم الموظف</label>
        <div class="content-password">
          {{info?.employeeName ? info?.employeeName : "لا يوجد"}}
        </div>
      </div>
         
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">رقم الاستدعاء</label>
        <div class="content-password">
          {{info?.summonCode ? info?.summonCode : "لا يوجد"}}
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">تاريخ ووقت الاستدعاء</label>
        <div class="content-password">
          {{info?.summonDate ? info?.summonDate :"لا يوجد"}}
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">نوع الاستدعاء</label>
        <div class="content-password">
          {{info?.summonForTypeName ? info?.summonForTypeName : "لا يوجد"}}
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">نوع الاستدعاء</label>
        <div class="content-password">
          {{info?.summonForTypeName ? info?.summonForTypeName : "لا يوجد"}}
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">الوقت المسموح لي الأستدعاء</label>
        <div class="content-password">
          {{info?.summonAllowedTimeName ? info?.summonAllowedTimeName : "لا يوجد"}}
        </div>
      </div>
      <div class="sectionTwo mb-3 line-bellow">
        <label class="title">تم التنبية </label>
        <div class="content-password">
          {{info?.doneNotify ? 'نعم' : "لا"}}
        </div>
      </div>
 
    </div>
  </div>
  <div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>