<div class="container-Dialog">
    <header class="header-dialog d-flex justify-content-center align-items-center p-15 position-relative">
      <h3 class="title-Dialog m-0">
        {{data!['title']|translate}}
  
      </h3>
      <button class="icon-close iconCloseDialog" type="button" (click)="close()">
        <!-- <i class="fa fa-times" aria-hidden="true"></i> -->
        <i class="pi pi-times-circle"></i>
      </button>
    </header>
    <div class="body-dialog p-15 f-s-16">
        <form [formGroup]="addBranchGroupForm">
        </form>
      <form [formGroup]="addBranchGroupForm">
        <div class="col-12">
          <div class="row">
            <div class="col-md-6 col-12">
                <div class="sectionFive mb-3">
                    <label for="" class="label-input mb-2">اسم الفرع <span class="color-red">*</span></label>
                    <div class="content-password">
                      <input type="text" pInputText formControlName="Name"
                        placeholder="اسم الفرع" class="w-100" />
                    </div>
                    <div class="container-alerts mt-2" *ngIf="getControl('Name')?.errors">
                      <div class="alert alert-danger"
                        *ngIf="getControl('Name')?.hasError('required') && getControl('Name')?.dirty">
                        اسم الفرع مطلوب
                      </div>
                    </div>
                  </div>
            </div>
            <!-- <div class="col-md-6 col-12">
                <div class="sectionFive mb-3">
                    <label for="" class="label-input mb-2">عنوان الفرع <span class="color-red">*</span></label>
                    <div class="content-password">
                      <input type="text" pInputText formControlName="Address"
                        placeholder="عنوان الفرع" class="w-100" />
                    </div>
                    <div class="container-alerts mt-2" *ngIf="getControl('Address')?.errors">
                      <div class="alert alert-danger"
                        *ngIf="getControl('Address')?.hasError('required') && getControl('Address')?.dirty">
                        عنوان الفرع مطلوب
                      </div>
                    </div>
                  </div>
            </div> -->
            <div class="col-md-6 col-12">
                <!-- <div class="sectionFive mb-3">
                    <label for="" class="label-input mb-2">مكان الفرع <span class="color-red">*</span></label>
                    <div class="content-password">
                      <input type="text" pInputText formControlName="Location"
                        placeholder="مكان الفرع" class="w-100" />
                    </div>
                    <div class="container-alerts mt-2" *ngIf="getControl('Location')?.errors">
                      <div class="alert alert-danger"
                        *ngIf="getControl('Location')?.hasError('required') && getControl('Location')?.dirty">
                        مكان الفرع مطلوب
                      </div>
                    </div>
                  </div> -->
                  <div class="sectionFive mb-3 position-relative">
                    <label for="" class="label-input mb-2">عنوان الفرع</label>
                    <div class="content-input position-relative mb-3">
                      <!-- <div class="content-password textarea-w-100">
           
                          <textarea rows="5" cols="30" pInputTextarea formControlName="headquarterLocation" placeholder="مكان الفرع الرئيسي" [autoResize]="true"></textarea>
                          
                      </div> -->
                      <div class="content-password">
                        <input type="text" pInputText #searchMapRef formControlName="Address" [placeholder]="'zones.searchOnMap'|translate" class="w-100" />
                      </div>
                    </div>
                    <div class="body-map">
                      <agm-map [latitude]="latitude" [scrollwheel]="false" [longitude]="longitude" [zoom]="zoomLevel"
                        [disableDefaultUI]="false" [zoomControl]="true" (mapClick)="onMapClickEvent($event)">
                        <agm-marker *ngFor="let mapMarker of markers; let i = index"
                          (markerClick)="onMarkerClickEvent(mapMarker.label, i)" [latitude]="mapMarker.latitude"
                          [longitude]="mapMarker.longitude" [label]="mapMarker.label ? mapMarker.label : ''"
                          [markerDraggable]="mapMarker.draggable" (dragEnd)="markerDragEnd(mapMarker, $event)">
                        </agm-marker>
                        <agm-circle [latitude]="latitude" [longitude]="longitude" [radius]="radius" [fillColor]="'red'"
                          [circleDraggable]="false" [editable]="false">
                        </agm-circle>
                      </agm-map>
                      <div class="container-alerts mt-2" *ngIf="getControl('latitude')?.errors">
                        <div class="alert alert-danger"
                          *ngIf="getControl('latitude')?.hasError('required') && getControl('latitude')?.dirty">
                          latitude is required
                        </div>
                      </div>
                      <div class="container-alerts mt-2" *ngIf="getControl('longitude')?.errors">
                        <div class="alert alert-danger"
                          *ngIf="getControl('longitude')?.hasError('required') && getControl('longitude')?.dirty">
                          longitude is required
                        </div>
                      </div>
                    </div>
                    <div class="container-alerts mt-2" *ngIf="getControl('Address')?.errors">
                      <div class="alert alert-danger"
                        *ngIf="getControl('Address')?.hasError('required') && getControl('Address')?.dirty">
                         مكان الفرع مطلوب
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="sectionFive mb-3">
                    <label for="" class="label-input mb-2">رمز البريدي للفرع <span class="color-red">*</span></label>
                    <div class="content-password">
                      <input type="text" pInputText formControlName="PostalCode"
                        placeholder="رمز البريدي للفرع" class="w-100" />
                    </div>
                    <div class="container-alerts mt-2" *ngIf="getControl('PostalCode')?.errors">
                      <div class="alert alert-danger"
                        *ngIf="getControl('PostalCode')?.hasError('required') && getControl('PostalCode')?.dirty">
                         رمز البريدي للفرع مطلوب
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
  
      </form>
      <!-- <div class="col-12 mb-3">
        <div class="row">
            <div class="col-md-4 col-12">
                <button class="background-blue w-100 color-white b-r-4 button-action ml-2 mr-2 f-s-16"
        (click)="addBranch()">اضافه فرع</button>
            </div>
        </div>
        </div> -->

    </div>
    <footer class="footer-dialog p-15 d-flex justify-content-end">
      <button class="background-blue w-100 color-white b-r-4 button-action ml-2 mr-2 f-s-16"
        (click)="editBranchAfterChange()">{{submitted
        ?
        (data!['buttonSend']|translate) : ('dialogs.loading'|translate)}}</button>
      <button class="btn-outline-primary w-100 ml-2  b-r-4 button-action-two ml-2 mr-2 f-s-16"
        (click)="close()">{{data!['titleClose']|translate}}</button>
    </footer>
  </div>
  <div class="spinner-dialog d-flex justify-content-center align-items-center loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  